{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="description" content="Steller AI" />
    <meta property="og:title" content="Steller AI" />
    <meta property="og:description" content="Steller AI" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">

    <!-- FAVICONS ICON -->
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png" />

    <!-- PAGE TITLE HERE -->
    <title>Steller AI</title>

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->

    <!-- STYLESHEETS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/plugins.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/fontawesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/line-awesome/css/line-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/flaticon/flaticon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'plugins/themify/themify-icons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/templete.min.css' %}">
    <link class="skin" rel="stylesheet" type="text/css" href="{% static 'css/skin/skin-1.css' %}">

    <!-- Google Font -->
    <style>
        @import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,600,700|Muli:200,300,400,500,600,700,800,900|Poppins:100,200,300,400,500,600,700,800,900|Roboto:100,300,400,500,700,900|Rubik:300,400,500,700,900');

.hljs-type, .hljs-title, .hljs-section, .hljs-attribute, .hljs-quote, .hljs-built_in, .hljs-builtin-name{
       color: #3f88e3;
    }

    .hljs-keyword, .hljs-selector-tag, .hljs-literal{
      color: #f39200;
    }

</style>

    <!-- REVOLUTION SLIDER CSS -->
<!--    <link rel="stylesheet" type="text/css" href="{% static 'plugins/revolution/revolution/css/revolution.min.css' %}">-->

</head>

<style>
    .header-style1 .main-bar {
        background-color: #fff;
    }
</style>

<body id="bg">
    <div class="page-wraper">
        <!-- header -->
        <header class="site-header header header-style1 mo-left py-0">
            <!-- main header -->
            <div class="sticky-header main-bar-wraper navbar-expand-lg">
                <div class="main-bar clearfix ">
                    <div class="container clearfix">
                        <!-- website logo -->
                        <div class="logo-header pt-2 pb-0 mostion">
                            <a href="{% url 'home:home' %}" class="dez-page p-0"><img src="{% static 'images/logo/color-logo.png' %}" style="width: 70px;" class="p-0"></a>
<!--                            <p>Stellar AI</p>-->
                        </div>
                        <!-- nav toggle button -->
                        <button class="navbar-toggler collapsed navicon justify-content-end" type="button"
                            data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <!-- extra nav -->
                        <div class="extra-nav">
                            <div class="extra-cell">

                               <a class="btn-link btn-search mr-4" href="{% url 'user:login' %}"><span><i class="fa fa-user-o"></i> &nbsp;&nbsp;Login</span></a>

                                <a href="{% url 'user:register' %}" class="btn outline radius-xl btn-sign btn-aware">Sign up <span></span></a>
<!--                                <button id="quik-search-btn" type="button" class="btn-link btn-search text-secondry"><i-->
<!--                                        class="fa fa-search"></i></button>-->
                            </div>
                        </div>
                        <!-- Quik search -->
                        <div class="dlab-quik-search">
                            <form action="#">
                                <input name="search" value="" type="text" class="form-control"
                                    placeholder="Type to search">
                                <span id="quik-search-remove"><i class="ti-close"></i></span>
                            </form>
                        </div>
                        <!-- main nav -->
                        <!-- Store url paths in variables  -->
                        {% url 'home:home' as path_home %}
                        {% url 'home:plan-list' as path_plan_list %}
                        {% url 'home:about' as path_about %}
                        {% url 'home:contact' as path_contact %}
                        {% url 'home:news-letter' as path_news_letter %}
                        <div class="header-nav navbar-collapse collapse justify-content-start" id="navbarNavDropdown">
                            <div class="logo-header mostion">
                                <a href="{% url 'home:home' %}" class="h3 text-dark dez-page">Stellar Ai</a>
                            </div>
                            <ul class="nav navbar-nav">
                                <li><a href="{{path_home}}"><span
                                            class="{% ifequal request.path path_home %}text-primary{% endifequal %}">Home</span></a>
                                </li>
                                <li><a href="{{path_plan_list}}"><span
                                            class="{% ifequal request.path path_plan_list %}text-primary{% endifequal %}">Plans</span></a>
                                </li>
<!--                                <li><a href="{{path_about}}"><span-->
<!--                                            class="{% ifequal request.path path_about %}text-primary{% endifequal %}">About</span></a>-->
<!--                                </li>-->
                                <!-- <li><a href="#"><span>Protfolio</span></a>
                                    <i class="fa fa-chevron-down"></i>
                                    <ul class="sub-menu">
                                        <li><a href="portfolio-1.html">Portfolio 1</a></li>
                                        <li><a href="portfolio-2.html">Portfolio 2</a></li>
                                        <li><a href="portfolio-details.html">Portfolio Details</a></li>
                                    </ul>
                                </li> -->
                                <!-- <li><a href="javascript:void(0)"><span>Blog</span><i class="fa fa-chevron-down"></i></a>
                                    <ul class="sub-menu">
                                        <li><a href="blog-standard.html">Blog Standard</a></li>
                                        <li><a href="blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li> -->
                                <li><a href="{{path_contact}}"><span
                                            class="{% ifequal request.path path_contact %}text-primary{% endifequal %}">Contact</span></a>
                                </li>
<!--                                <li><a href="{{path_news_letter}}"><span-->
<!--                                            class="{% ifequal request.path path_news_letter %}text-primary{% endifequal %}">Newsletter</span></a>-->
<!--                                </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main header END -->
        </header>
        <!-- header END -->

        <br><br>


        <!-- Notifications -->
        <style>
            .notification {
                background-color: #f5f5f5;
                border-radius: 4px;
                position: relative;
                padding: 1.25rem 2.5rem 1.25rem 1.5rem;
            }
            .notification.is-success {
                background-color: #1ce589;
                color: rgba(0,0,0,.7);
            }
            .notification.is-danger {
                background-color: #f71416;
                color: #fff;
            }
            .notification.is-info {
                background-color: #3e8ed0;
                color: #fff;
            }
            .notification.is-warning {
                background-color: #ffe08a;
                color: rgba(0,0,0,.7);
            }
            .notification>.delete {
                right: .5rem;
                position: absolute;
                top: .5rem;
                font-size: 0.7rem;
                color: white;
                background-color: rgba(10,10,10,.2);
                border: none;
                border-radius: 50%;
                cursor: pointer;
                pointer-events: auto;
            }
        </style>
        {% if messages %}
        <div style="position: relative" class="container is-custom">
            <br>
            {% for message in messages %}
            <br>
                <div class="notification {% if message.tags %} is-{{message.tags}} {% else %} is-primary {% endif %}">
                    <button class="delete d-flex align-items-center justify-content-center" onclick="this.closest('.notification').remove()">
                        &#10006;
                    </button>
                    {{message}}
                </div>
            {% endfor %}
        </div>
        {% endif %}
        <!-- Notification END -->

        <br><br>

        {% block content %}
        {% endblock %}

        <!-- Footer -->
        <footer class="site-footer style1">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="widget widget_services border-0">
                                <h5 class="footer-title">Navigation</h5>
                                <ul>
                                    <li><a href="{% url 'home:home' %}">Home</a></li>
                                    <li><a href="{% url 'home:about' %}">About us</a></li>
                                    <li><a href="{% url 'home:contact' %}">Contact</a></li>
<!--                                    <li><a href="{% url 'home:news-letter' %}">Newsletter</a></li>-->
                                </ul>
                            </div>
                            <div class="mobile-apps">
<!--                                <p>Mobile Apps :</p>-->
<!--                                <ul>-->
<!--                                    <li><a href="javascript:void(0);"><i class="fa fa-apple"></i></a></li>-->
<!--                                    <li><a href="javascript:void(0);"><i class="fa fa-windows"></i></a></li>-->
<!--                                    <li><a href="javascript:void(0);"><i class="fa fa-android"></i></a></li>-->
<!--                                </ul>-->
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
<!--                            <div class="widget widget_services border-0">-->
<!--                                <h5 class="footer-title">Solution</h5>-->
<!--                                <ul>-->
<!--                                    <li><a href="javascript:void(0);">UI/UX Web Design</a></li>-->
<!--                                    <li><a href="javascript:void(0);">Content Strategy</a></li>-->
<!--                                    <li><a href="javascript:void(0);">WordPress Support</a></li>-->
<!--                                    <li><a href="javascript:void(0);">Sketch to HTML service</a></li>-->
<!--                                    <li><a href="javascript:void(0);">Social media markering</a></li>-->
<!--                                    <li><a href="javascript:void(0);">Email marketing</a></li>-->
<!--                                </ul>-->
<!--                            </div>-->
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
                            <div class="widget widget_getintuch">
                                <h5 class="footer-title">Contact</h5>
                                <ul>
                                    <li>+088 01912704287</li>
                                    <li>ino@stellar-ai.in</li>
                                </ul>
                            </div>
                            <div class="footer-social">
                                <ul>
                                    <li><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
                            <div class="widget widget_ftabout">
                                <div class="footer-logo">
                                    <a href="{% url 'home:home' %}" class="h3 text-dark dez-page">Stellar Ai</a>
                                </div>
                                <p>(India)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer bottom part -->
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 text-left "> <span>Copyright © 2021 Stellar AI</span> </div>
                        <div class="col-lg-6 col-md-12 text-right ">
                            <div class="widget-link">
                                <ul>
                                    <li><a href="{% url 'home:terms' 'privacy-policy' %}">Privacy Policy</a></li>
                                    <li><a href="{% url 'home:terms' 'terms-and-condition' %}">Terms And Condition</a></li>
<!--                                    <li><a href="javascript:void(0);">Customer Support</a></li>-->
<!--                                    <li><a href="javascript:void(0);">Careers</a></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer END-->
        <button class="scroltop fa fa-chevron-up"></button>
    </div>
    <!-- JAVASCRIPT FILES ========================================= -->
    <script src="{% static 'js/combining.js' %}"></script>
    <!-- COMBINING JS  -->
    <!-- REVOLUTION JS FILES -->
    <script src="{% static 'plugins/revolution/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
    <script src="{% static 'plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
    <script src="{% static 'js/rev.slider.js' %}"></script>
    <script>
        jQuery(document).ready(function () {
            'use strict';
            dz_rev_slider_1();
        }); /*ready*/
    </script>
</body>

</html>