{% load static %}
<!DOCTYPE html>
<html lang="en">

	<head>{% block head %} {% endblock head %}

		<!-- Title -->
		<title>Base</title>

		<!-- Required Meta Tags Always Come First -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="keywords" content="">

		<!-- Favicon -->
		<link rel="shortcut icon" href="favicon.png' %}">

		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

		<!-- CSS Implementing Plugins -->
		<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Patua+One">

		<!-- Google Tag Manager and FB pixel -->
	</head>

	<body>

	</body>

</html>