{% extends "home/social_base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap-grid.min.css" integrity="sha512-Xj2sd25G+JgJYwo0cvlGWXoUekbLg5WvW+VbItCMdXrDoZRWcS/d40ieFHu77vP0dF5PK+cX6TIp+DsPfZomhw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
.pricing-table > *{
    box-sizing:border-box;
}
.pricing-table{
  background-color: #eee;
  font-family: 'Montserrat', sans-serif;
  padding-top: 5rem;
}

.pricing-table .block-heading {
  padding-top: 50px;
  margin-bottom: 40px;
  text-align: center;
}

.pricing-table .block-heading h2 {
  color: #4B2142;
}

.pricing-table .block-heading p {
  text-align: center;
  max-width: 420px;
  margin: auto;
  opacity: 0.7;
}

.pricing-table .heading {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.pricing-table .item {
  background-color: #ffffff;
  border-top: 4px solid #4B2142;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  padding: 30px;
  overflow: hidden;
  position: relative;
}

.pricing-table .col-md-5:not(:last-child) .item {
  margin-bottom: 30px;
}

.pricing-table .item button {
  font-weight: 600;
}

.pricing-table .ribbon {
  width: 180px;
  height: 32px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 2px 3px rgba(136, 136, 136, 0.25);
  background: #4dbe3b;
  transform: rotate(45deg);
  position: absolute;
  right: -42px;
  top: 35px;
  padding-top: 7px;
}
.heading{
    font-size: 1.8rem;
}
.pricing-table .item p {
  text-align: center;
  margin: 20px 20px;
  opacity: 0.7;
}

.pricing-table .features .feature {
  font-weight: 600;
}

.pricing-table .features h4 {
  text-align: center;
  font-size: 18px;
  padding: 5px;
}

.features p:not(:last-child){
    margin: 0 .8rem;
    padding: .6rem;
    border-bottom: 1px solid #81818133;

}
.pricing-table .price{
    position: relative;
    margin-top: 3rem;
}
.pricing-table .price h4 {
  margin: 15px 0;
  font-size: 45px;
  text-align: center;
  color: #4B2142;
}

.pricing-table .buy-now button {
  text-align: center;
  margin: auto;
  font-weight: 600;
  padding: 9px 0;
}

.discount-section{
    position: absolute;
    margin-top: -1.8rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.discount-percent{
    line-height: normal;
    font-size: .8rem;
    padding: 5px 10px;
    border-radius: 10rem;
    color: white;
    background-color: #4B2142;
    text-transform: uppercase;
    white-space: nowrap;
}
.original-price{
    transform: translateY(-5px);
}
.c-button{
    position: relative;
    margin-top: 3rem;
    display: inline-block;  /* required for hiding absolute children */
    overflow: hidden;
}
.item:hover .c-button {
    border: 1px solid #4B2142;
}
.c-button:hover{
    background-color: #4B2142;
    color: white;
}
.c-button::before{
    content: '';
    pointer-events: none;
    position: absolute;
    top: 0%;
    left: -150%;
    width: 200%;
    height: 70%;
    background: rgba(255, 255, 255, 0.3);
    transform-origin: 50% 50%;
    transform: rotateZ(45deg);
    opacity: 1;
    transition: all .5s ease-out;
}
[id^=plan-details].modal{
  font-family: 'Roboto' !important;
}
.plan-info > p.c-field{
  font-weight: 600;
  margin: .3rem 0;
  padding: .6rem .6rem;
  border-bottom: solid 1px #41414141;
}
.plan-info > p span {
  font-weight: 300;
  font-size: 1.2rem;
}
.c-button:hover::before{
    left: 50%;
    opacity: 0;
}
.plan-form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

td{
  padding: 1em;
  background: #4B2142;
  color: #fff;
}

tr{
  padding: 1em;
}

th{
  padding: 1em;

}
</style>
<section class="pricing-table">
    <div class="container bg-white">

        <center>
            <h6 style="color:#000;font-size:1.7em;"> Plans & Features</h6>
            <br>

            <div style="overflow-x:auto;">
            <table border="1" class="m-4 p-4" style="width:100%;border: 1px solid #e7e7e7;background: #fff;text-align: center;">

                <tr>
                  <th scope="col" style="width: 30%;"></th>

                    <th scope="col" style="background: #4B2142;color: #fff;width: 17.5%;">Basic</th>
                    <th scope="col" style="background: #4B2142;color: #fff;width: 17.5%;">Standard</th>
                    <th scope="col" style="background: #4B2142;color: #fff;width: 17.5%;">Premium</th>

                </tr>

                <tr>
                  <th scope="row" style="text-align: left;">Type Of Coderoom</th>

                    <td>Private Coderoom</td>
                    <td>Private Coderoom</td>
                    <td>Private Coderoom</td>
                </tr>

                <tr>
                  <th scope="row" style="text-align: left;">No of Coderoom</th>
                  <td>5</td>
                  <td>10</td>
                  <td>20</td>
                </tr>
                <tr>
                  <th scope="row" style="text-align: left;">Max Storage Memory</th>
                    <td>2 GB/Coderoom</td>
                    <td>2 GB/Coderoom</td>
                    <td>2 GB/Coderoom</td>
                </tr>

                <tr>
                  <th scope="row" style="text-align: left;">Total Storage</th>
                    <td>10 GB</td>
                    <td>20 GB</td>
                    <td>40 GB</td>
                </tr>
            <tr>
                  <th scope="row" style="text-align: left;">Super User Access</th>
                    <td>YES</td>
                    <td>YES</td>
                    <td>YES</td>
                </tr>
                <tr>
                  <th scope="row" style="text-align: left;">RAM</th>

                    <td>2 GB</td>
                    <td>3 GB</td>
                    <td>4 GB</td>
                </tr>
            <tr>
                  <th scope="row" style="text-align: left;">Always Open Code Rooms</th>
                    <td>YES</td>
                    <td>YES</td>
                    <td>YES</td>
                </tr>

              <tr>
                  <th scope="row" style="text-align: left;">Cost</th>
                    <td>5$/User/Month</td>
                    <td>7$/User/Month</td>
                    <td>10$/User/Month</td>
                </tr>


             <tr>
                  <th scope="row" style="text-align: left;"></th>
                     {% for object in object_list %}
                  <th>
                      <div class="c-button button is-fullwidth modal-trigger" data-modal="plan-details-{{object.id}}" style="margin: 0em;">
                                 Buy Now
                                </div>

                    <div id="plan-details-{{object.id}}" class="modal is-medium has-light-bg">
                          <div class="modal-background"></div>
                          <div class="modal-content" style="max-width: 100vw; width: 460px;">
                              <div class="card p-3">
                                  <div class="card-heading">
                                      <h3 style="font-size: 1.5rem;">Plan Summary</h3>
                                      <!-- Close X button -->
                                      <div class="close-wrap">
                                          <span class="close-modal">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                          </span>
                                      </div>
                                  </div>
                                  <div class="card-body pb-4">
                                      <div class="columns">
                                          <div class="column is-12 plan-info" style="overflow-y: auto; text-align: center;">
                                            <p class="c-field">
                                              Type<br>
                                              <span>{{object.title}}</span>
                                            </p>
                                            <p class="c-field">
                                              Cost<br>
                                              <span>$ {{object.get_discounted_price}}</span>
                                            </p>

                                            <p class="c-field">
                                              No of Coderoom<br>
                                              <span>{{object.total_group_create_size}} Coderoom</span>
                                            </p>
                                            <p class="c-field">
                                              RAM<br>
                                              <span>{{object.ram}} GB</span>
                                            </p>
                                              <p class="c-field">
                                              Max Storage Memory<br>
                                              <span>{{ object.storage }} GB/Coderoom</span>
                                            </p>


                                            <form action="#" method="POST" class="plan-form">
                                              {% csrf_token %}
                                              <label class="mt-3 mb-4" style="font-weight: 500; justify-content:start;">
                                                <input type="checkbox" style="vertical-align:middle;" onchange="toggleCoupon(event)">
                                                &nbsp;
                                                <span class="mb-1">I want to use a coupon.</span>
                                              </label>
                                              <div class="control has-icon mb-4" data-wrap="coupon-wrap" style="font-size: 1.3rem; width: 80%; text-align: center; display:none;">
                                                <input type="text" class="input" placeholder="Enter code" name="coupon_code">
                                                <div class="form-icon">
                                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                                                </div>
                                              </div>
                                              <!-- <button type="submit" class="c-button button is-solid accent-button is-fullwidth mt-5 mb-1"></button> -->
                                              <a href="{% url 'order:payment-request' object.id %}"
                                                  class="c-button button is-solid accent-button is-fullwidth mt-2 py-4" style="width: 90%;">
                                                Proceed &#10142;
                                              </a>
                                            </form>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>

                    {% endfor %}

                    </th>
                </tr>


            </table>
            </div>

<!--            <div class="row justify-content-md-center mb-5" style="padding: 2em;border-radius:0.5em;background-color:#fff;">-->
<!--                <img src="{% static 'images/plans.jpg' %}">-->
<!--            </div>-->
        </center>
<!--            <table>-->
<!--                <tr>-->
<!--                    {% for object in object_list %}-->

<!--                    <th>-->
<!--                        <div class="col-md-5 col-lg-4">-->
<!--                            <div class="item">-->
<!--                                <div class="price">-->
<!--                                    {% if object.discount_percentage > 0 and object.cost %}-->
<!--                                    <div class="discount-section d-flex align-items-center justify-content-evenly">-->
<!--                                        <span class="original-price"><s>₹ {{ object.cost|floatformat }}</s></span>-->
<!--                                        &emsp;-->
<!--                                        <span class="discount-percent ml-2">Save {{object.discount_percentage|floatformat}}%</span>-->
<!--                                    </div>-->
<!--                                    {% endif %}-->
<!--                                    <h4>-->
<!--                                        {% if object.cost %}-->
<!--                                            ₹{{ object.get_discounted_price|floatformat:1 }}-->
<!--                                        {% else %}-->
<!--                                            Let's Talk-->
<!--                                        {% endif %}-->
<!--                                    </h4>-->
<!--                                </div>-->
<!--                                {% if object.cost %}-->
<!--                                <div class="c-button button is-fullwidth modal-trigger" data-modal="plan-details-{{object.id}}">-->
<!--                                 SHOW DETAILS-->
<!--                                </div>-->
<!--                                {% else %}-->
<!--                                <a href="{% url 'home:contact' %}" class="c-button button is-fullwidth">-->
<!--                                 CONTACT-->
<!--                                </a>-->
<!--                                {% endif %}-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div id="plan-details-{{object.id}}" class="modal is-medium has-light-bg">-->
<!--                          <div class="modal-background"></div>-->
<!--                          <div class="modal-content" style="max-width: 100vw; width: 460px;">-->
<!--                              <div class="card p-3">-->
<!--                                  <div class="card-heading">-->
<!--                                      <h3 style="font-size: 1.5rem;">Plan Summary</h3>-->
<!--                                      &lt;!&ndash; Close X button &ndash;&gt;-->
<!--                                      <div class="close-wrap">-->
<!--                                          <span class="close-modal">-->
<!--                                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>-->
<!--                                          </span>-->
<!--                                      </div>-->
<!--                                  </div>-->
<!--                                  <div class="card-body pb-4">-->
<!--                                      <div class="columns">-->
<!--                                          <div class="column is-12 plan-info" style="overflow-y: auto; text-align: center;">-->
<!--                                            <p class="c-field">-->
<!--                                              Type<br>-->
<!--                                              <span>{{object.title}}</span>-->
<!--                                            </p>-->
<!--                                            <p class="c-field">-->
<!--                                              Cost<br>-->
<!--                                              <span>₹{{object.cost}}</span>-->
<!--                                            </p>-->
<!--                                            <p class="c-field">-->
<!--                                              Duration<br>-->
<!--                                              <span>{{object.duration}} days</span>-->
<!--                                            </p>-->
<!--                                            <p class="c-field">-->
<!--                                              Total groups allowed<br>-->
<!--                                              <span>{{object.total_group_create_size}} groups</span>-->
<!--                                            </p>-->
<!--                                            <p class="c-field">-->
<!--                                              Members per group<br>-->
<!--                                              <span>{{object.group_size}} members</span>-->
<!--                                            </p>-->

<!--                                            <form action="#" method="POST" class="plan-form">-->
<!--                                              {% csrf_token %}-->
<!--                                              <label class="mt-3 mb-4" style="font-weight: 500; justify-content:start;">-->
<!--                                                <input type="checkbox" style="vertical-align:middle;" onchange="toggleCoupon(event)">-->
<!--                                                &nbsp;-->
<!--                                                <span class="mb-1">I want to use a coupon.</span>-->
<!--                                              </label>-->
<!--                                              <div class="control has-icon mb-4" data-wrap="coupon-wrap" style="font-size: 1.3rem; width: 80%; text-align: center; display:none;">-->
<!--                                                <input type="text" class="input" placeholder="Enter code" name="coupon_code">-->
<!--                                                <div class="form-icon">-->
<!--                                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>-->
<!--                                                </div>-->
<!--                                              </div>-->
<!--                                              &lt;!&ndash; <button type="submit" class="c-button button is-solid accent-button is-fullwidth mt-5 mb-1"></button> &ndash;&gt;-->
<!--                                              <a href="{% url 'order:payment-request' object.id %}"-->
<!--                                                  class="c-button button is-solid accent-button is-fullwidth mt-2 py-4" style="width: 90%;">-->
<!--                                                Proceed &#10142;-->
<!--                                              </a>-->
<!--                                            </form>-->
<!--                                        </div>-->
<!--                                      </div>-->
<!--                                  </div>-->
<!--                              </div>-->
<!--                          </div>-->
<!--                      </div>-->
<!--                    </th>-->
<!--                    {% endfor %}-->

<!--                </tr>-->
<!--            </table>-->

<!--        <div class="row justify-content-md-center">-->
<!--            {% for object in object_list %}-->
<!--            <div class="col-md-5 col-lg-4">-->
<!--                <div class="item">-->
<!--                    {% if object.is_recommended %}-->
<!--                    <div class="ribbon">Recommended</div>-->
<!--                    {% endif %}-->
<!--                    <div class="heading">-->
<!--                        <h3>{{object.title}}</h3>-->
<!--                    </div>-->
<!--                    <p>{{object.description}}</p>-->
<!--                    <div class="features">-->
<!--                        <h4>{{object.features | safe}}</h4>-->
<!--                    </div>-->
<!--                    <div class="price">-->
<!--                        {% if object.discount_percentage > 0 and object.cost %}-->
<!--                        <div class="discount-section d-flex align-items-center justify-content-evenly">-->
<!--                            <span class="original-price"><s>₹ {{ object.cost|floatformat }}</s></span>-->
<!--                            &emsp;-->
<!--                            <span class="discount-percent ml-2">Save {{object.discount_percentage|floatformat}}%</span>-->
<!--                        </div>-->
<!--                        {% endif %}-->
<!--                        <h4>-->
<!--                            {% if object.cost %}-->
<!--                                ₹{{ object.get_discounted_price|floatformat:1 }}-->
<!--                            {% else %}-->
<!--                                Let's Talk-->
<!--                            {% endif %}-->
<!--                        </h4>-->
<!--                    </div>-->
<!--                    {% if object.cost %}-->
<!--                    <div class="c-button button is-fullwidth modal-trigger" data-modal="plan-details-{{object.id}}">-->
<!--                     SHOW DETAILS-->
<!--                    </div>-->
<!--                    {% else %}-->
<!--                    <a href="{% url 'home:contact' %}" class="c-button button is-fullwidth">-->
<!--                     CONTACT-->
<!--                    </a>-->
<!--                    {% endif %}-->
<!--                </div>-->
<!--            </div>-->
<!--            <div id="plan-details-{{object.id}}" class="modal is-medium has-light-bg">-->
<!--              <div class="modal-background"></div>-->
<!--              <div class="modal-content" style="max-width: 100vw; width: 460px;">-->
<!--                  <div class="card p-3">-->
<!--                      <div class="card-heading">-->
<!--                          <h3 style="font-size: 1.5rem;">Plan Summary</h3>-->
<!--                          &lt;!&ndash; Close X button &ndash;&gt;-->
<!--                          <div class="close-wrap">-->
<!--                              <span class="close-modal">-->
<!--                                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>-->
<!--                              </span>-->
<!--                          </div>-->
<!--                      </div>-->
<!--                      <div class="card-body pb-4">-->
<!--                          <div class="columns">-->
<!--                              <div class="column is-12 plan-info" style="overflow-y: auto; text-align: center;">-->
<!--                                <p class="c-field">-->
<!--                                  Type<br>-->
<!--                                  <span>{{object.title}}</span>-->
<!--                                </p>-->
<!--                                <p class="c-field">-->
<!--                                  Cost<br>-->
<!--                                  <span>₹{{object.cost}}</span>-->
<!--                                </p>-->
<!--                                <p class="c-field">-->
<!--                                  Duration<br>-->
<!--                                  <span>{{object.duration}} days</span>-->
<!--                                </p>-->
<!--                                <p class="c-field">-->
<!--                                  Total groups allowed<br>-->
<!--                                  <span>{{object.total_group_create_size}} groups</span>-->
<!--                                </p>-->
<!--                                <p class="c-field">-->
<!--                                  Members per group<br>-->
<!--                                  <span>{{object.group_size}} members</span>-->
<!--                                </p>-->

<!--                                <form action="#" method="POST" class="plan-form">-->
<!--                                  {% csrf_token %}-->
<!--                                  <label class="mt-3 mb-4" style="font-weight: 500; justify-content:start;">-->
<!--                                    <input type="checkbox" style="vertical-align:middle;" onchange="toggleCoupon(event)">-->
<!--                                    &nbsp;-->
<!--                                    <span class="mb-1">I want to use a coupon.</span>-->
<!--                                  </label>-->
<!--                                  <div class="control has-icon mb-4" data-wrap="coupon-wrap" style="font-size: 1.3rem; width: 80%; text-align: center; display:none;">-->
<!--                                    <input type="text" class="input" placeholder="Enter code" name="coupon_code">-->
<!--                                    <div class="form-icon">-->
<!--                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>-->
<!--                                    </div>-->
<!--                                  </div>-->
<!--                                  &lt;!&ndash; <button type="submit" class="c-button button is-solid accent-button is-fullwidth mt-5 mb-1"></button> &ndash;&gt;-->
<!--                                  <a href="{% url 'order:payment-request' object.id %}"-->
<!--                                      class="c-button button is-solid accent-button is-fullwidth mt-2 py-4" style="width: 90%;">-->
<!--                                    Proceed &#10142;-->
<!--                                  </a>-->
<!--                                </form>-->
<!--                            </div>-->
<!--                          </div>-->
<!--                      </div>-->
<!--                  </div>-->
<!--              </div>-->
<!--          </div>-->
<!--            {% endfor %}-->


<!--            <div class="col-md-5 col-lg-4">-->
<!--                <div class="item">-->

<!--                    <div class="heading">-->
<!--                        <h3>EnterPrise</h3>-->
<!--                    </div>-->
<!--                    <p>More than 500 people in the group.</p>-->


<!--                    <a href="{% url 'home:contact' %}" class="c-button button is-fullwidth">-->
<!--                     CONTACT-->
<!--                    </a>-->

<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
    <script>
      document.querySelectorAll(`[name='coupon_code']`)?.forEach((input)=>{
        input.addEventListener('input', function(e){
          const anchorEl = e.target.closest('form').querySelector('a')
          const link = anchorEl.href.split('?')[0];
          const code = encodeURIComponent(e.target.value.trim());
          anchorEl.href = `${link}?coupon_code=${code}`;
        })
      })
      function toggleCoupon(event){
        const wrapper = event.target.closest('.card')
        if (event.target.checked){
          wrapper.querySelector(`[data-wrap='coupon-wrap'`).style.display = 'block';
        } else {
          wrapper.querySelector(`[data-wrap='coupon-wrap'`).style.display = 'none';
        }
        wrapper.querySelector(`[name='coupon_code']`).value = '';
        wrapper.querySelector(`[name='coupon_code']`).dispatchEvent(new Event('input'))
      }
    </script>
</section>
{% endblock content %}