{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<style>
/* .full-height {
  height: 100%;
} */
#myVideo {
    /* right: 0;
    bottom: 0; */
    width: 100%;
    /* height: 100%; */
    height: 50%;
    object-fit: contain;
    object-position: center;
}
i.fa.fa-chevron-down{
    transform: rotateZ(-180deg);
    transition: all .1s;
}
.collapsed i.fa.fa-chevron-down{
    transform: rotateZ(0deg);
}
.faq-header{
    font-weight: 700;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #5596e6;
}
.collapsed.faq-header{
    color: #717171;
}

.grad-h1{
  background: -webkit-linear-gradient(#5596e6, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

</style>
<!-- Content -->

<!-- {#{% if messages %}
   {% for item in messages %}
<div id="pop-up-questions" style=" width: 100%; margin-top: 10px;
    position: absolute;z-index:100;display: flex; flex-direction: column;">
    <form>
        {% csrf_token %}
        <div class="container" style="width: 60%; background: #D3D3D3;">
            <div>
                <a onclick="closePopup()" style="cursor: pointer;" class="chat-nav-item is-icon close-chat">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </a>
            </div>
            <div class="p-2">
                <label for="age">AGE?</label>
                <select id="age" name="age" class="form-select my-2">
                    <option value="12-18" selected>12-18</option>
                    <option value="18-24">18-24</option>
                    <option value="24-30">24-30</option>
                    <option value="ABOVE 30">ABOVE 30</option>
                </select>
            </div>
            <div class="p-2">
                <label for="knowledge_ml_dl_ai">HAVE ANY PREVIOUS KNOWLEDGE ABOUT ML/DL/AI?</label>
                <select id="knowledge_ml_dl_ai" name="knowledge_ml_dl_ai" class="form-select my-2">
                    <option value="Yes" selected>Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
            <div class="p-2">
                <label for="worked_in">HAVE WORKED MORE IN?</label>
                <select id="worked_in" name="worked_in" class="form-select my-2">
                    <option value="MACHINE LEARNING" selected>MACHINE LEARNING</option>
                    <option value="DEEP LEARNING">DEEP LEARNING</option>
                    <option value="JUST PYTHON CODING">JUST PYTHON CODING</option>
                    <option value="NONE OF THE ABOVE">NONE OF THE ABOVE</option>
                </select>
            </div>
            <div class="p-2">
                <label for="code_difficult">FINDS CODING REALLY DIFFICULT?</label>
                <select id="code_difficult" name="code_difficult" class="form-select my-2">
                    <option value="Yes" selected>Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
            <div class="p-2">
                <label for="does_ml_dl_ai">DONE ANY ML/ DL /AI COURSES OR STUDIED ARTIFICIAL INTELLIGENCE IN COLLEGE
                    YET?</label>
                <select id="does_ml_dl_ai" name="does_ml_dl_ai" class="form-select my-2">
                    <option value="Yes" selected>Yes</option>
                    <option value="No">No</option>
                </select>
            </div>
            <div class="p-2">
                <label for="like_to_work_in">Likes to study/create/work/do projects --</label>
                <select id="like_to_work_in" name="like_to_work_in" class="form-select my-2">
                    <option value="Alone" selected>Alone</option>
                    <option value="In a team">In a team</option>
                </select>
            </div>
            <div class="p-2">
                <label for="functionality_areas">Likes to study/create/work/do projects --</label>
                <select id="functionality_areas" multiple name="functionality_areas" class="form-select my-2" size="21">
                    <option value="Finance and accounts">Finance and accounts</option>
                    <option value="Sales and marketing">Sales and marketing</option>
                    <option value="Office operation /Hr">Office operation /Hr</option>
                    <option value="Production/Maintainance /Quality">Production/Maintainance /Quality</option>
                    <option value="It /Software /Telecom">It /Software /Telecom</option>
                    <option value="Agriculture/farming/dairy">Agriculture/farming/dairy</option>
                    <option value="Construction/Real Estate">Construction/Real Estate</option>
                    <option value="Entertainment and media">Entertainment and media</option>
                    <option value="Education/Teachers/professor">Education/Teachers/professor</option>
                    <option value="Bpo/ITES/Telecaller/Customer care">Bpo/ITES/Telecaller/Customer care</option>
                    <option value="Fashion Designing">Fashion Designing</option>
                    <option value="Content/Editor/ journalists">Content/Editor/ journalists</option>
                    <option value="Legal/ law">Legal/ law</option>
                    <option value="Travelling agencies">Travelling agencies</option>
                    <option value="Bio tech /R&D /Scientists">Bio tech /R&D /Scientists</option>
                    <option value="Data scientists/Machine learning engineer/AI">Data scientists/Machine learning
                        engineer/AI
                    </option>
                    <option value="Student">Student</option>
                    <option value="Medicine/Biology /Pharmaceutical">Medicine/Biology /Pharmaceutical</option>
                    <option value="Electrical /Electronics/Electronic and telecommunications">Electrical
                        /Electronics/Electronic
                        and telecommunications</option>
                    <option value="Mechanical">Mechanical</option>
                    <option value="Chemical">Chemical</option>
                </select>
            </div>
            <button type="button" onclick="PopUpSubmit()" class="btn btn-primary m-2 mb-5">Submit</button>
        </div>
    </form>
</div>
       <div class="alert alert-{{ item.tags }}" role="alert">
  {{ item }}
</div>
    {% endfor %}
    {% endif %}#} -->
<div class="page-content bg-black" style="padding-bottom: 0em;">
    <!-- Slider Banner -->
    <div class="row">
        <div class="col-lg-6" style="padding:8em 2em 4em 12%;background-color:#292929;">
             <h5 style="color:#FCB900;" class="pb-2">CODE | CONNECT | COLLABORATE</h5>


             <h1 style="color:#fff;font-size:3em;line-height:1em;" class="pb-2 grad-h1">We are a <span style="color:#5596e6;"> blend of social network</span> and artifical intelligence learning.</h1>

            <a href="{% url 'user:register' %}"  class="btn radius-xl btn-sign btn-aware">Start Coding <span></span></a>
        </div>

        <div class="col-lg-6" style="background: black;height: 500px;">
            <center><video id="myVideo" autoplay muted loop controls style="height: 500px;width: 100%;">
<!--                https://stellar-ai.in/static/video/dark.mp4-->
              <source src="{% static 'video/dark.mp4' %}" type="video/mp4">
              <source src="{% static 'video/dark.mp4' %}" type="video/ogg">
            </video></center>
        </div>
    </div>


    <!-- <div class="dlab-bnr-inr" style="background-image:url('{% static 'images/background/bg1.jpg' %}'); background-size: cover; background-position: top center; background-repeat: no-repeat;">
        <div class="container">
            <div class="dlab-bnr-inr-entry text-white">
                <h1>We’re Crep </h1>
                <p>We help companies we believe in get results. Let us show you how</p>
            </div>
        </div>
    </div> -->
    <!-- Slider Banner -->
    <!-- <br><br><br><br><br> -->

    <div class="content-block mt-5 bg-black">
        <!-- featured box -->
        <div class="section-full bg-black text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 m-b30 wow fadeInUp " data-wow-delay="0.2s">
                        <div class="icon-bx-wraper featured-box style1 shadow radius-md zigzag" style="background: url('{% static 'images/h-sec/coederoom.png' %}');background-position: 50% 50%;color: #fff;padding: 0em;">
                            <div style="background: rgb(0, 0, 0);background: rgba(0, 0, 0, 0.5);color: white;padding:2em 3em;height:14.5em;">
                                <a href="#code">
                                    <div  class="mt-5"  style="color:#fff;font-weight: 600;font-size:1.5em;position: relative;z-index: 10;">AI CODE ROOM</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 m-b30 wow fadeInUp " data-wow-delay="0.2s">
                         <div class="icon-bx-wraper featured-box style1 shadow radius-md zigzag" style="background: url('{% static 'images/h-sec/aic.png' %}');background-position: 50% 50%;color: #fff;padding: 0em;">
                            <div style="background: rgb(0, 0, 0);background: rgba(0, 0, 0, 0.5);color: white;padding:2em 3em;height:14.5em;">
                                    <a href="#forums">
                                        <div class="mt-5" style="color:#fff;font-weight: 600;font-weight: revert;margin:0;font-size:1.3em;text-align:center;">AI <br>COMMUNITY</div>
                                    </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 m-b30 wow fadeInUp " data-wow-delay="0.2s">
                         <div class="icon-bx-wraper featured-box style1 shadow radius-md zigzag" style="background: url('{% static 'images/h-sec/skeleton.png' %}');background-position: 50% 50%;color: #fff;padding: 0em;">
                            <div style="background: rgb(0, 0, 0);background: rgba(0, 0, 0, 0.5);color: white;padding:2em 3em;height:14.5em;">
                            <div>
                                <a href="#sc">
                                <div class="mt-5" style="color:#fff;font-weight: 600;font-weight: revert;margin:0;font-size:1.5em;">AI SKELETON CODES</div>
                                </a>
                            </div>
                        </div>
                         </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 m-b30 wow fadeInUp " data-wow-delay="0.2s">
                         <div class="icon-bx-wraper featured-box style1 shadow radius-md zigzag" style="background: url('{% static 'images/h-sec/comp.png' %}');background-position: 50% 50%;background-size: contain;background-repeat:no-repeat;color: #fff;padding: 0em;">
                            <div style="background: rgb(0, 0, 0);background: rgba(0, 0, 0, 0.5);color: white;padding:2em 3em;height:14.5em;">
                            <a href="#comp">
                                <div class="mt-5" style="color:#fff;font-weight: 600;font-weight: revert;margin:0;font-size:1.5em;">AI COMPETITIONS</div >
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- featured box End -->
        <!-- about us -->
        <div class="section-full bg-black content-inner" id="code" style="background: #292929;">
            <div class="container">
                <div class="row align-items-center about-bx1">
                    <div class="col-lg-6 col-md-6 m-b30 wow fadeInLeft" data-wow-delay="0.3s">
                        <div class="dlab-media img-move">
                            <img src="{% static 'images/illustrator/chat.svg' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 m-b30 wow fadeInRight" data-wow-delay="0.6s" >
                        <div class="about-content">
                            <span class="sub-title" style="color:#FCB900">Collaborative coding solutions<img
                                    src="{% static 'images/background/bg6.png' %}" alt="" /></span>
                            <h2 class="title text-primary">AI CODE ROOMS</h2>
<!--                            <p>An environment which helps to connect people that are looking for AI/Coding solutions, people with no previous communication can connect through a Stellar AI Id which leads to a code room which includes important features like chats, voice calls and video calls.</p>-->
<!--                            <p>AI/Coding personal tutors, E-learning Institutions , Companies, students can use such affordable AI Code rooms for personal growth.</p>-->
                               <p>A Stellar AI code-room is a unique SaaS of Stellar AI, which has a exciting environment where one can do real time live collaborative coding with anyone you are friends with on the Stellar AI Ecosystem. Every code-room has an owner/admin. Once you find a user/connection on the Ecosystem you have to send that person a friend request add that person a friend then you can add them in your particular owned code-room and start with your real time coding , data science , algorithm making , etc. It is the most user-friendly way to connect any national and international users and grow together. It also has real time audio calls, video calls and chatting making it more user-friendly</p>
                                        <a href="{% url 'user:register' %}"  class="btn radius-xl btn-sign btn-aware">Start Coding <span></span></a>



<!--                                   1)	Live Audio for users inside the AI code-room / meeting.<br>-->
<!--2)	Live Video for users inside the AI code-room / meeting.<br>-->
<!--3)	Live Coding Interface where live coding can happen where one user can see another user coding live , all the different Machine Learning / Deep Learning / Artificial Intelligence Libraries are provided in the Coding Interface.-->
<!--4)	Python coders/students/developers/employees/companies anyone can come and use this unique code-room for growth.<br>-->
<!--5)	Live Chatting for users inside the code-room/meeting.<br>-->
<!--6)	Every Code-room has a host/admin who can add ‘n’ number of people in the group according to the plan he buys.<br>-->
<!--7)	Every Code-room has a host/admin who has the power to add/remove any user he/she wants.<br>-->
<!--8)	In the absence of the host/admin still all the code-room members can code and run algorithms on the coding interface.</p>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- customer box end -->
        <!-- overview box -->
        <div class="section-full bg-black content-inner-1" id="forums">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="overview-box style1">
                            <div class="overview-info wow fadeInLeft" data-wow-delay="0.3s">
                                <span class="sub-title " style="color:#FCB900">Forums</span>
                                <h2 class="title text-primary">AI COMMUNITY</h2>
                                <p style="color:#fff">A place where anyone can post their particular doubts , questions , errors, discussions and expect instant solutions/help from anyone in the community.</p>
                                <p style="color:#fff">AI Algorithms like Recommendation System , Clustering are used here in the backend for a better and more efficient user experience that connects like-minded and similar background people together.</p>
                                <!--                                <a href="#" class="btn btn-gradient btn-md radius-xl">Explor More</a>-->
                                        <a href="{% url 'user:register' %}"  class="btn radius-xl btn-sign btn-aware">Start Coding <span></span></a>

                            </div>
                            <div class="overview-media wow fadeInRight img-move" data-wow-delay="0.6s">
                                <img src="{% static 'images/illustrator/forums.svg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- overview box end -->
        <!-- overview box -->
        <div class="section-full bg-black content-inner-1" id="sc" style="background: #292929;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="overview-box style1">
                            <div class="overview-media wow fadeInLeft img-move2" data-wow-delay="0.3s">
                                <img src="{% static 'images/illustrator/skeleton.svg' %}" alt="">
                            </div>
                            <div class="overview-info wow fadeInRight" data-wow-delay="0.6s">
                                <span class="sub-title " style="color:#FCB900">Rich coding templates</span>
                                <h2 class="title text-primary">AI SKELETON CODES
                                </h2>
                                <p style="color:#fff">An environment where Machine Learning and Deep Learning professionals/students can directly use filters and get the basic skeleton code and then edit it further for the project requirement</p>
                                       <a href="{% url 'user:register' %}"  class="btn radius-xl btn-sign btn-aware">Start Coding <span></span></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <div class="section-full bg-black content-inner-1" id="comp">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="overview-box style1">
                            <div class="overview-info wow fadeInLeft" data-wow-delay="0.3s">
                                <span class="sub-title " style="color:#FCB900">Compete</span>
                                <h2 class="title text-primary">AI COMPETITIONS </h2>
                                <p style="color:#fff">An ecosystem where different types of Machine Learning, Deep Learning and AI competitions will be hosted here for a more competitive experience.
                                </p>
                                <p style="color:#fff">Any Institution, Company, Organization with a  Business Problem on AI  can host the particular Dataset on our ecosystem</p>
                                       <a href="{% url 'user:register' %}"  class="btn radius-xl btn-sign btn-aware">Start Coding <span></span></a>

                            </div>
                            <div class="overview-media wow fadeInRight img-move" data-wow-delay="0.6s">
                                <img src="{% static 'images/illustrator/comp.svg' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


<div class="section-full bg-black content-inner-1">


<!--        <div class="section-full bg-white content-inner-1">-->

<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-lg-12">-->
<!--                        <div class="overview-box style1">-->
<!--                            <div class="overview-media wow fadeInLeft img-move2" data-wow-delay="0.3s">-->
<!--                                <img src="{% static 'images/illustrator/skeleton.svg' %}" alt="">-->
<!--                            </div>-->
<!--                            <div class="overview-info wow fadeInRight" data-wow-delay="0.6s">-->
<!--&lt;!&ndash;                                <span class="sub-title text-primary">Rich coding templates</span>&ndash;&gt;-->
<!--                                <h2 class="title"><a href="#">Line of business</a>-->
<!--                                </h2>-->
<!--                                <p>A community based model where Artificial Intelligence/Coding/Machine-Learning enthusiasts can meet and connect with each other through different <br> Stellar AI features like -</p>-->
<!--                                <p>-->
<!--                                    1) AI Forums where users can post their doubts/questions/discussions and expect instant replies/answers from other users.<br>-->
<!--2) AI Code-rooms where users can add friends from the Stellar AI community and can connect live on code-room feature on the website , where they get live , chatting, video calling and a Common Coding Interface which is specially for AI/ML/DL purposes. This is paid but very affordable.<br>-->
<!--3) AI Skeleton Codes where there are ready made codes of different Artificial Intelligence Algorithms which the users can download and select as per the selected filters.<br>-->
<!--4) AI Competitions where AI/ML/DL Competitons from different sources will be posted and the  users can learn more and improve themselves by solving such datasets alone or in a team and grow together.<br>-->
<!--                                </p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <div class="section-full bg-black content-inner-1 my-5 py-5" style="background: #292929;">
            <div class="container">
                <div class="overview-box style1">
                    <!-- <div class="overview-media wow fadeInLeft img-move2" data-wow-delay="0.3s">
                        <img src="{% static 'images/illustrator/skeleton.svg' %}" alt="">
                    </div> -->
                    <div class="w-100">
                        <h2 class="title text-center mb-5 pb-5" style="color:#fff">Frequently Asked Questions</h2>
                        <div class="accordion mb-2">
                            <div class="row">
                                {% for f in faq %}
                                <div class="col-lg-6">
                                    <div class="card " style="border:none; border-bottom: 1px solid #fff;background: #292929;" >
                                        <div class="card-header faq-header collapsed" data-toggle="collapse" data-target="#collapseFAQ{{f.id}}" aria-expanded="false" aria-controls="collapseFAQ{{f.id}}">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <span class="text-primary">{{f.question}}</span>
                                                <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                            </div>
                                        </div>
                                        <div id="collapseFAQ{{f.id}}" class="collapse">
                                            <div class="card-body" style="color:#fff">
                                                {{f.answer}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <br><br><br>


        <!-- contact form -->
        <div class="section-full bg-black content-inner">
<!--            style="background-image: url({% static 'images/background/bg1.jpg' %}); background-size: cover;">-->
            <div class="container">
                <div class="row align-items-center" style="padding-bottom:8em;">
                    <div class="col-lg-5 col-md-5 m-b30 wow fadeInLeft" data-wow-delay="0.3s">
                        <img src="{% static 'images/about/about-3.png' %}" class="img-move2" alt="">
                    </div>
                    <div class="col-lg-7 col-md-7 m-b30 wow fadeInRight" data-wow-delay="0.3s">
                        <div class="contact-box contact-white">
                            <div class="section-head text-left text-white">
                                <h2 class="title">Subscribe to Our Newsletter</h2>
                                <p>Get all latest update in your mailbox directly</p>
                            </div>
                            <div class="dzFormMsg"></div>
                            <!-- <form method="POST" class="dzForm" action="{% url 'home:news-letter' %}"> -->
                            <form method="POST" class="" action="{% url 'home:news-letter' %}">
                                {% csrf_token %}
                                <input type="hidden" value="Contact" name="dzToDo">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <input name="email" type="email" required class="form-control"
                                                placeholder="Enter your Email Address">
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-sm-12">
                                        <button type="submit" class="btn radius-xl red btn-md btn-aware">SEND<span></span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- contact form end -->
    </div>
</div>

<!-- Popup Question Modal -->
<style>
    #popup-question-wrap{
        background-color: rgb(240, 240, 240);
        overflow-x: hidden;
        overflow-y: scroll;
        position: fixed;
        inset: 0px;
        height: 80vh;
        max-width: 768px;
    }
    @media (min-width: 768px) {
        #popup-question-wrap{
            inset: 4rem;
            width: 75%;
        }
    }
    .question-block{
        background-color: white;
        padding: 2rem 1.5rem;
        box-shadow: 0 0 1px 0 grey;
    }
    input[type=radio]:checked+label:before {
        border-color: #ed5ab0 !important;
    }
    #popup-question-wrap>.delete {
        right: .5rem;
        position: absolute;
        top: .5rem;
        font-size: 1rem;
        color: white;
        background-color: rgba(10,10,10,.2);
        border: none;
        border-radius: 50%;
        cursor: pointer;
        pointer-events: auto;
    }
    #custom-overlay{
        position: fixed;
        inset: 0 0 0 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.685);
        z-index: 999998;
    }
</style>
<div id="custom-overlay" style="display: none"></div>
<div id="popup-question-wrap" class="bg-black m-auto shadow radius-md" style="display: block; z-index: 999999;">
    <button class="delete d-flex align-items-center justify-content-center"
    onclick="rmModalAndOverlay()">✖</button>
    <form action="" method="POST" onsubmit="submitPopup(event, this)" id="popup-form" class="popup-question-form container px-1 px-md-5 py-4" style="background:#292929">
        {% csrf_token %}
        <div class="row">
            <div class="col-12">
                <div class="question-block radius-md m-2" style="padding: 1rem 1rem;">
                    <h4 for="id_age" class="mb-1">Please answer the following questions, so that we can get to know you better.</h4>
                    <hr class="my-3">
                    {% if user.is_authenticated %}
                        <p class="mb-2">Logged In as <span class="font-weight-bold">{{request.user.email}}</span></p>
                    {% else %}
                        <p class="mb-2">Already have an account? <a href="{% url 'user:login' %}" class="text-primary font-weight-bold">Login</a></p>
                    {% endif %}
                </div>
            </div>
            <div class="col-12">
                <div class="question-block radius-md m-2">
                    <label class="mb-1 font-weight-normal">1. What is your age?</label>
                    <div class="d-block mt-2">
                        {% for val, itm in form.age.field.choices %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="{{form.age.name}}" id="id_{{form.age.name}}_{{val}}" value="{{val}}" required>
                            <label class="form-check-label" for="id_{{form.age.name}}_{{val}}">{{itm}}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="question-block radius-md m-2">
                    <label class="mb-1 font-weight-normal">2. Have any previous knowledge about ML/DL/AI?</label>
                    <div class="d-block mt-2">
                        {% for val, itm in form.knowledge_ml_dl_ai.field.choices %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="{{form.knowledge_ml_dl_ai.name}}" id="id_{{form.knowledge_ml_dl_ai.name}}_{{val}}" value="{{val}}" required>
                            <label class="form-check-label" for="id_{{form.knowledge_ml_dl_ai.name}}_{{val}}">{{itm}}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="question-block radius-md m-2">
                    <label class="mb-1">3. Have worked more in?</label>
                    <div class="ml-2">
                        <div class="row mt-2">
                            {% for val, itm in form.worked_in.field.choices %}
                            <div class="form-check col-12 col-md-6 mb-2">
                                <input class="form-check-input" type="radio" name="{{form.worked_in.name}}" id="id_{{form.worked_in.name}}_{{val}}" value="{{val}}" required>
                                <label class="form-check-label" for="id_{{form.worked_in.name}}_{{val}}">{{itm}}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="question-block radius-md m-2">
                    <label class="mb-1 font-weight-normal">4. Finds coding really difficult?</label>
                    <div class="d-block mt-2">
                        {% for val, itm in form.code_difficult.field.choices %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="{{form.code_difficult.name}}" id="id_{{form.code_difficult.name}}_{{val}}" value="{{val}}" required>
                            <label class="form-check-label" for="id_{{form.code_difficult.name}}_{{val}}">{{itm}}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="question-block radius-md m-2">
                    <label class="mb-1 font-weight-normal">5. Have done any ML/DL/AI courses or studied Artificial Intelligence in college yet?</label>
                    <div class="d-block mt-2">
                        {% for val, itm in form.does_ml_dl_ai.field.choices %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="{{form.does_ml_dl_ai.name}}" id="id_{{form.does_ml_dl_ai.name}}_{{val}}" value="{{val}}" required>
                            <label class="form-check-label" for="id_{{form.does_ml_dl_ai.name}}_{{val}}">{{itm}}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="question-block radius-md m-2">
                    <label class="mb-1 font-weight-normal">6. Likes to study/create/work/do projects?</label>
                    <div class="d-block mt-2">
                        {% for val, itm in form.like_to_work_in.field.choices %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="{{form.like_to_work_in.name}}" id="id_{{form.like_to_work_in.name}}_{{val}}" value="{{val}}" required>
                            <label class="form-check-label" for="id_{{form.like_to_work_in.name}}_{{val}}">{{itm}}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="question-block radius-md m-2">
                    <label class="mb-1">7. Specify your functionality area?</label>
                    <div class="ml-2">
                        <div class="row mt-2">
                            {% for val, itm in form.functionality_areas.field.choices %}
                            <div class="form-check col-12 mb-2">
                                <input class="form-control" type="checkbox" name="{{form.functionality_areas.name}}" id="id_{{form.functionality_areas.name}}_{{val}}" value="{{val}}">
                                <label class="form-check-label" for="id_{{form.functionality_areas.name}}_{{val}}">{{itm}}</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Finance and accounts
            Sales and marketing
            Office operation /Hr
            Production/Maintainance /Quality
            It /Software /Telecom
            Agriculture/farming/dairy
            Construction/Real Estate
            Entertainment and media
            Education/Teachers/professor
            Bpo/ITES/Telecaller/Customer care
            Fashion Designing
            Content/Editor/ journalists
            Legal/ law
            Travelling agencies
            Bio tech /R&D /Scientists
            Data scientists/Machine learning engineer/AI
            Student
            Medicine/Biology /Pharmaceutical
            Electrical /Electronics/Electronic and telecommunications
            Mechanical
            Chemical -->
            <div class="col-12 text-center mt-3">
                <button name="submit" type="submit" value="Submit" class="btn radius-sm btn-gradient btn-md py-2 btn-aware">Submit<span></span></button>
            </div>
        </div>
    </form>
</div>
    <!-- Popup Question Modal END -->

<!-- Content END-->
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script>

    // function closePopup() {
    //     $("#pop-up-questions").css("display", 'none');
    // }

    // function PopUpSubmit() {
    //     let age = $("select[name='age']").val();
    //     let knowledge_ml_dl_ai = $("select[name='knowledge_ml_dl_ai']").val();
    //     let worked_in = $("select[name='worked_in']").val();
    //     let code_difficult = $("select[name='code_difficult']").val();
    //     let does_ml_dl_ai = $("select[name='does_ml_dl_ai']").val();
    //     let like_to_work_in = $("select[name='like_to_work_in']").val();
    //     let functionality_areas = $("select[name='functionality_areas']").val();
    //     var csrfmiddlewaretoken = $('[name="csrfmiddlewaretoken"]').val();
    //     $.ajax({
    //         type: "POST",
    //         url: "{% url 'home:pop-up' %}",
    //         data: {
    //             'csrfmiddlewaretoken': csrfmiddlewaretoken,
    //             'age': age,
    //             'knowledge_ml_dl_ai': knowledge_ml_dl_ai,
    //             'worked_in': worked_in,
    //             'code_difficult': code_difficult,
    //             'does_ml_dl_ai': does_ml_dl_ai,
    //             'like_to_work_in': like_to_work_in,
    //             'functionality_areas': functionality_areas
    //         },
    //         success: function (response) {
    //             console.log(response);
    //         },
    //         error: function (response) {
    //             console.log(response);
    //         },
    //     });

    // }

    // Popup submission
    function submitPopup(e, element){
        e.preventDefault();
        const formData = new FormData(element);
        fetch('{% url 'home:pop-up' %}', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            console.log(data)
            if (data['Status']){
                rmModalAndOverlay();
                localStorage.setItem('popupSubmitted', true);
            }
        })
    }

    // Popup Show/Hide
    const customOverlay = document.getElementById('custom-overlay')
    const popupQuestionWrap = document.getElementById('popup-question-wrap')
    window.addEventListener('load', function (e) {
        setTimeout(() => {
            if (localStorage.getItem('pop-shown') !== 'true'){
                customOverlay.style.display = 'block'
                popupQuestionWrap.style.display ='block';
                console.log('Popup Shown')
            }
        }, 1000);
    })
    function rmModalAndOverlay() {
        customOverlay.style.display = 'none';
        popupQuestionWrap.style.display='none';
        localStorage.setItem('pop-shown', 'true');
    }

$( document ).ready(function() {
    let data = localStorage.getItem('popupSubmitted');
    if(data)
    {
        $('#popup-question-wrap').hide();
    }
    else{
        $('#popup-question-wrap').show();
    }
});
</script>
{% endblock content %}
</div>