{% extends 'home/base.html' %}
{% load static %}

{% block content %}

<!-- Content -->


<div class="page-content bg-white">
    <!-- Slider Banner -->
    <div class="dlab-bnr-inr" style="background-image:url('{% static 'images/background/bg1.jpg' %}'); background-size: cover; background-position: top center; background-repeat: no-repeat;">
        <div class="container">
            <div class="dlab-bnr-inr-entry text-white">
                <h1>We’re Crep </h1>
                <p>We help companies we believe in get results. Let us show you how</p>
            </div>
        </div>
    </div>
    <!-- Slider Banner -->
    <div class="content-block mt-5">
        <!-- featured box -->
        <div class="section-full bg-white text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 m-b30 wow fadeInUp " data-wow-delay="0.2s">
                        <div class="icon-bx-wraper featured-box style1 shadow radius-md zigzag">
                            <div class="icon-xl m-b20">
                                <a href="javascript:void(0);" class="icon-cell"><img src="{% static 'images/icon/icon1.png' %}" alt=""></a>
                            </div>
                            <div class="icon-content">
                                <h2 class="dlab-tilte">User Interface Design</h2>
                                <p>Let us put your website in front of consumers at the moment in time they are searching for your products & services. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 m-b30 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon-bx-wraper m-t60 featured-box style1 shadow radius-md">
                            <div class="icon-xl m-b20">
                                <a href="javascript:void(0);" class="icon-cell"><img src="{% static 'images/icon/icon2.png' %}" alt=""></a>
                            </div>
                            <div class="icon-content">
                                <h2 class="dlab-tilte">Digital Marketing Agency</h2>
                                <p>Working together, we will use our knowledge of SEO to bring more leads to your business through your website.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 m-b30 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="icon-bx-wraper featured-box style1 shadow radius-md">
                            <div class="icon-xl m-b20">
                                <a href="javascript:void(0);" class="icon-cell"><img src="{% static 'images/icon/icon3.png' %}" alt=""></a>
                            </div>
                            <div class="icon-content">
                                <h2 class="dlab-tilte">Visual design Strategy</h2>
                                <p>The same way you review and analyze your job reports by cost, ROI, customer satisfaction<br> and much more </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- featured box End -->
        <!-- about us -->
        <div class="section-full bg-white content-inner">
            <div class="container">
                <div class="row align-items-center about-bx1">
                    <div class="col-lg-6 col-md-6 m-b30 wow fadeInLeft" data-wow-delay="0.3s">
                        <div class="dlab-media img-move">
                            <img src="{% static 'images/about/about-1.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 m-b30 wow fadeInRight" data-wow-delay="0.6s">
                        <div class="about-content">
                            <span class="sub-title text-primary">About Brand agency<img src="{% static 'images/background/bg6.png' %}" alt=""/></span>
                            <h2 class="title">Grow your brand</h2>
                            <p>Building your online presence helps attract more potential clients. Our integrated marketing team will work directly with you to understand what makes your business unique, and provide more qualified leads to achieve
                                success in your industry</p>
                            <a href="about-1.html" class="btn btn-gradient btn-md radius-xl">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- about us end -->
        <!-- customer box -->
        <div class="section-full bg-white customer-area-one" style="background-image:url({% static 'images/background/bg7.png' %}); background-repeat:no-repeat; background-position:center left; background-size:50%;">
            <div class="container">
                <div class="section-head text-center">
                    <h2 class="title">Build a brand customers love</h2>
                    <p>We are an Creative agency, based in New York. Vision Every company is performing best online. Mission Helping businesses to find the perfect and most succesful strategy, to be online.</p>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="row sp0 counter-area1">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6 wow zoomIn" data-wow-delay="0.2s">
                                <div class="counter-box counter-box1 img-move">
                                    <div class="counter-info">
                                        <h4 class="title">Projects</h4>
                                        <span class="counter">30</span>
                                        <span>K</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6 wow zoomIn" data-wow-delay="0.4s">
                                <div class="counter-box counter-box2 img-move">
                                    <div class="counter-info">
                                        <h4 class="title">Cups of Coffee</h4>
                                        <span class="counter">451</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6 wow zoomIn" data-wow-delay="0.6s">
                                <div class="counter-box counter-box3 img-move2">
                                    <div class="counter-info">
                                        <h4 class="title">Customers</h4>
                                        <span class="counter">120</span>
                                        <span>K</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-6 wow zoomIn" data-wow-delay="0.8s">
                                <div class="counter-box counter-box4 img-move2">
                                    <div class="counter-info">
                                        <h4 class="title">Clients</h4>
                                        <span class="counter">130</span>
                                        <span>K</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 wow fadeInRight" data-wow-delay="0.8s">
                        <div class="customer-box1">
                            <div class="dlab-media img-move2">
                                <img src="{% static 'images/about/about-2.png' %}" alt="">
                            </div>
                            <p class="font-20">We start by analyzing your design and sorting it out. We’ll extract all the necessary images, logos, and icons.</p>
                            <h5>Increase customer lifetime value</h5>
                            <p class="m-b0">Let our AI power your entire customer journey, from awareness through purchase, to increase sales, average order value, and loyalty, and get a centralized picture of cost, ROI, and impact.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- customer box end -->
        <!-- overview box -->
        <div class="section-full bg-white content-inner-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="overview-box style1">
                            <div class="overview-info wow fadeInLeft" data-wow-delay="0.3s">
                                <span class="sub-title text-primary">Web Design</span>
                                <h2 class="title"><a href="#">Tailored Strategies & Targeted Results Web design</a></h2>
                                <p>Let our AI power your entire customer journey, from awareness through purchase, to increase sales, average order value, and loyalty, and get a centralized picture of cost, ROI, and impact.</p>
                                <a href="#" class="btn btn-gradient btn-md radius-xl">Explor More</a>
                            </div>
                            <div class="overview-media wow fadeInRight img-move" data-wow-delay="0.6s">
                                <img src="{% static 'images/overview/pic1.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- overview box end -->
        <!-- overview box -->
        <div class="section-full bg-white content-inner-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="overview-box style1">
                            <div class="overview-media wow fadeInLeft img-move2" data-wow-delay="0.3s">
                                <img src="{% static 'images/overview/pic2.png' %}" alt="">
                            </div>
                            <div class="overview-info wow fadeInRight" data-wow-delay="0.6s">
                                <span class="sub-title text-primary">Branding</span>
                                <h2 class="title"><a href="#">Our target customers use platforms for Brand Identity</a></h2>
                                <p>Let our AI power your entire customer journey, from awareness through purchase, to increase sales, average order value, and loyalty, and get a centralized picture of cost, ROI, and impact.</p>
                                <a href="#" class="btn btn-gradient btn-md radius-xl">Explor More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- overview box end -->
        <!-- overview box -->
        <div class="section-full bg-white content-inner-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="overview-box style1">
                            <div class="overview-info wow fadeInLeft" data-wow-delay="0.3s">
                                <span class="sub-title text-primary">Mobile & Desktop Design</span>
                                <h2 class="title"><a href="#">Creating your strategy for digital marketing</a></h2>
                                <p>Let our AI power your entire customer journey, from awareness through purchase, to increase sales, average order value, and loyalty, and get a centralized picture of cost, ROI, and impact.</p>
                                <a href="#" class="btn btn-gradient btn-md radius-xl">Explor More</a>
                            </div>
                            <div class="overview-media wow fadeInRight img-move2" data-wow-delay="0.6s">
                                <img src="{% static 'images/overview/pic3.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- overview box end -->
        <!-- testimonials -->
        <div class="section-full bg-white content-inner-1">
            <div class="container">
                <div class="row align-items-end">
                    <div class="col-lg-7 col-md-6 m-b30 wow fadeInLeft" data-wow-delay="0.3s">
                        <div class="testimonial-carousel owl-carousel owl-theme dots-style-1 owl-none">
                            <div class="item">
                                <div class="testimonial-1">
                                    <div class="testimonial-text quote-left">
                                        <p>Since we began our partnership with Restoration Digital Marketing, our web traffic has increased tremendously. This has led to increased phone calls, that are legitimate leads, which has equaled increased
                                            revenue. Jeff has been great to work with and is extremely helpful and knowledgeable. </p>
                                    </div>
                                    <div class="testimonial-detail clearfix">
                                        <h5 class="testimonial-name">Mahfuz Riad</h5>
                                        <span>Ux & Product Designer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-1">
                                    <div class="testimonial-text quote-left">
                                        <p>Since we began our partnership with Restoration Digital Marketing, our web traffic has increased tremendously. This has led to increased phone calls, that are legitimate leads, which has equaled increased
                                            revenue. Jeff has been great to work with and is extremely helpful and knowledgeable. </p>
                                    </div>
                                    <div class="testimonial-detail clearfix">
                                        <h5 class="testimonial-name m-t0 m-b5">Mahfuz Riad</h5>
                                        <span>Ux & Product Designer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-1">
                                    <div class="testimonial-text quote-left">
                                        <p>Since we began our partnership with Restoration Digital Marketing, our web traffic has increased tremendously. This has led to increased phone calls, that are legitimate leads, which has equaled increased
                                            revenue. Jeff has been great to work with and is extremely helpful and knowledgeable. </p>
                                    </div>
                                    <div class="testimonial-detail clearfix">
                                        <h5 class="testimonial-name m-t0 m-b5">Mahfuz Riad</h5>
                                        <span>Ux & Product Designer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6 wow fadeInRight" data-wow-delay="0.6s">
                        <img src="{% static 'images/testimonials/pic1.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- testimonials end -->
        <!-- meet our team Team -->
        <div class="section-full bg-white content-inner-1">
            <div class="container">
                <div class="section-head text-center">
                    <h2 class="title">Our Expert</h2>
                </div>
                <div class="team-carousel owl-carousel owl-theme owl-btn-1 m-b30">
                    <div class="item">
                        <div class="team-box style1 text-center wow fadeInUp" data-wow-delay="0.2s">
                            <div class="dlab-media">
                                <a href="teachers-details.html">
                                <img src="{% static 'images/team/pic1.png' %}" alt="">
                            </a>
                            </div>
                            <div class="team-info">
                                <h5 class="team-title"><a href="teachers-details.html">Mahfuz Riad</a></h5>
                                <span class="team-position">SEO Expert</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-box style1 green text-center wow fadeInUp" data-wow-delay="0.4s">
                            <div class="dlab-media">
                                <a href="teachers-details.html">
                                <img src="{% static 'images/team/pic2.png' %}" alt="">
                            </a>
                            </div>
                            <div class="team-info">
                                <h5 class="team-title"><a href="teachers-details.html">John Copa</a></h5>
                                <span class="team-position">Creative Ui Expert</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-box style1 pink text-center wow fadeInUp" data-wow-delay="0.6s">
                            <div class="dlab-media">
                                <a href="teachers-details.html">
                                <img src="{% static 'images/team/pic3.png' %}" alt="">
                            </a>
                            </div>
                            <div class="team-info">
                                <h5 class="team-title"><a href="teachers-details.html">Foqrul islam</a></h5>
                                <span class="team-position">Content Creation Expert</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-box style1 yellow text-center wow fadeInUp" data-wow-delay="0.8s">
                            <div class="dlab-media">
                                <a href="teachers-details.html">
                                <img src="{% static 'images/team/pic4.png' %}" alt="">
                            </a>
                            </div>
                            <div class="team-info">
                                <h5 class="team-title"><a href="teachers-details.html">Masum Rana</a></h5>
                                <span class="team-position">Nav Salimian</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- meet our team end -->
        <!-- pricing table -->
        <div class="section-full bg-white content-inner-2">
            <div class="container">
                <div class="section-head text-center">
                    <span class="sub-title text-primary">Pricing Plan</span>
                    <h2 class="title text-secondry">Simple pricing that works</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 m-b30 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="pricingtable-wrapper">
                            <div class="pricingtable-inner">
                                <div class="pricingtable-price">
                                    <span class="pricingtable-bx text-primary">$19</span>
                                </div>
                                <div class="pricingtable-title">
                                    <h2>Core Business </h2>
                                </div>
                                <ul class="pricingtable-features">
                                    <li>1-2 target pages </li>
                                    <li>30-40 Keywords</li>
                                    <li>Connect Domain</li>
                                    <li>Ideal for smaller professional websites</li>
                                    <li>Business & eCommerce</li>
                                </ul>
                                <div class="pricingtable-footer"> <a href="javascript:void(0);" class="btn outline outline-1 radius-xl btn-aware">Choose Plan<span></span></a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 m-b30 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="pricingtable-wrapper">
                            <div class="pricingtable-inner">
                                <div class="pricingtable-price">
                                    <span class="pricingtable-bx text-primary">$49</span>
                                </div>
                                <div class="pricingtable-title">
                                    <h2>Core Business </h2>
                                </div>
                                <ul class="pricingtable-features">
                                    <li>1-2 target pages </li>
                                    <li>30-40 Keywords</li>
                                    <li>Connect Domain</li>
                                    <li>Ideal for smaller professional websites</li>
                                    <li>Business & eCommerce</li>
                                </ul>
                                <div class="pricingtable-footer"> <a href="javascript:void(0);" class="btn outline outline-1 radius-xl btn-aware">Choose Plan<span></span></a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 m-b30 wow fadeInUp" data-wow-delay="0.9s">
                        <div class="pricingtable-wrapper">
                            <div class="pricingtable-inner">
                                <div class="pricingtable-price">
                                    <span class="pricingtable-bx text-primary">$99</span>
                                </div>
                                <div class="pricingtable-title">
                                    <h2>Core Business </h2>
                                </div>
                                <ul class="pricingtable-features">
                                    <li>1-2 target pages </li>
                                    <li>30-40 Keywords</li>
                                    <li>Connect Domain</li>
                                    <li>Ideal for smaller professional websites</li>
                                    <li>Business & eCommerce</li>
                                </ul>
                                <div class="pricingtable-footer"> <a href="javascript:void(0);" class="btn outline outline-1 radius-xl btn-aware">Choose Plan<span></span></a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- pricing table end -->
        <!-- contact form -->
        <div class="section-full bg-white content-inner" style="background-image: url({% static 'images/background/bg1.jpg' %}); background-size: cover;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-5 m-b30 wow fadeInLeft" data-wow-delay="0.3s">
                        <img src="{% static 'images/about/about-3.png' %}" class="img-move2" alt="">
                    </div>
                    <div class="col-lg-7 col-md-7 m-b30 wow fadeInRight" data-wow-delay="0.3s">
                        <div class="contact-box contact-white">
                            <div class="section-head text-left text-white">
                                <h2 class="title">Say hi to your team <br>of experts</h2>
                                <p>Before we put our thinking caps on, tell us a few things <br>about yourself</p>
                            </div>
                            <div class="dzFormMsg"></div>
                            <form method="post" class="dzForm" action="script/contact.php">
                                <input type="hidden" value="Contact" name="dzToDo">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input name="dzName" type="text" required class="form-control" placeholder="Enter your name">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="form-group">
                                            <input name="dzEmail" type="email" class="form-control" required placeholder="Your Email Address">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <textarea name="dzMessage" rows="4" class="form-control" required placeholder="Your message here"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12">
                                        <button name="submit" type="submit" value="Submit" class="btn radius-xl red btn-md btn-aware">SEND<span></span></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- contact form end -->
    </div>
</div>
<!-- Content END-->

{% endblock content %}
