{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<style>
.features-box {
        padding:0em 8em 1em 12%;
    }
    .features-box-second {
        padding:0em 8em 1em 12%;
    }
    .feature_heading{
        padding: 3em 3em 0em 50%;
    }
    .code_connect {
        font-size: 2rem;
    }
#myheader {
      color: #4B2142;
      font-family: 'Quicksand';
        font-size: 4rem;
    line-height: 4rem;
    }
.display-5 {
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 700;
    line-height: 1.2;
}
@media(min-width: 1200px) {
    .display-5 {
        font-size: 3rem;
    }
}
@media(max-device-width: 480px)
{
     .features-box {
        padding:0em 3em 1em 12%;
    }
    .features-box-second {
        padding:1em 3em 1em 12%;
                margin-top: -30px;

    }
    .feature_heading{
        padding: 3em 3em 0em 45%;
    }
    .img-fluid{
        margin-top: 2rem;
    }
    .display-5 {
    font-size: 10rem;
    font-weight: 700;
    line-height: 1.2;
}

    .code_connect {
        font-size: 1rem;
    }

    #myheader {
      color: #4B2142;
      font-family: 'Quicksand';
       font-size: 2.7rem;
    line-height: 2.5rem;
    }


}

    #mypara {
      color: #74226c;
      font-family: 'Quicksand';
      font-size: 22px;
    }

    #mybtn {
      color: white;
      background-color: #4B2142;
    }

    #myfaqhead {
      color: #4B2142;
      font-family: 'Quicksand';
    }
    .bg-light {
    background-color: #F2F8FE !important;
}

</style>

{#<div class="container">#}
<div class="row" style="padding:8em 2em 1em 12%;background-color:#F2F8FE !important;">
        <div class="col-lg-6"  >

          <p id="myheader" class="display-5 mb-3 animated slideInDown"> Make remote coding workspace
            <span class="code_connect">Code|Connect|Collaborate</span> </p>
          <p id="mypara" class="animated slideInDown"> CONNABO is a real time collaborative coding workspace for your
            organization. </p>
          <a id="mybtn" href="" class="btn btn-primary py-3 px-4 animated slideInDown">Explore More</a>

        </div>
        <div class="col-lg-6 animated fadeIn text-center">
          <img class="img-fluid animated pulse infinite" style="animation-duration: 3s" src="{% static 'images/logo/sticky.png' %}" alt="">
        </div>
      </div>
{#</div>#}
<div class="row feature_heading">
<h1 style="font-family: 'Quicksand'; color: #74226c;">
    <center>Features </center>
  </h1>
</div>

    <div class="row features-box">

    <div class="col-sm-4 mb-2">
      <div class="card h-100">
        <div class="card-body">
          <h4 style="font-family: 'Quicksand'; color: #74226c; " class="card-title">Cloud Coding </h4>
          <p style="font-family: 'Quicksand'; color: #4B2142; font-size: 20px;" class="card-text">Develop anything on
            our cloud with no setup. </p>

        </div>
      </div>
    </div>

    <div class="col-sm-4 mb-2">
      <div class="card h-100">
        <div class="card-body">
          <h4 style="font-family: 'Quicksand'; color: #74226c; " class="card-title">Focal Coding Workspace </h4>
          <p style="font-family: 'Quicksand'; color: #4B2142; font-size: 20px;" class="card-text">A common code-space
            where all the employees, project manager, clients can run, test and debug the code.Hence sharing your work
            with the world is easy. </p>

        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-2">
      <div class="card h-100">
        <div class="card-body">
          <h4 style="font-family: 'Quicksand'; color: #74226c; " class="card-title">Remote Team Collaboration </h4>
          <p style="font-family: 'Quicksand'; color: #4B2142; font-size: 20px;" class="card-text">Built-in real time
            collaboration, create together on the same code anywhere in world on any device. </p>

        </div>
      </div>
    </div>
    </div>
    <div class="row features-box-second">
    <div class="col-sm-4 mb-2">
      <div class="card h-100">
        <div class="card-body">
          <h4 style="font-family: 'Quicksand'; color: #74226c; " class="card-title"> Boost up your code-space</h4>
          <p style="font-family: 'Quicksand'; color: #4B2142; font-size: 20px;" class="card-text">Boost up your storage
            and RAM of your code-rooms. </p>

        </div>
      </div>
    </div>

    <div class="col-sm-4 mb-2">
      <div class="card h-100">
        <div class="card-body">
          <h4 style="font-family: 'Quicksand'; color: #74226c; " class="card-title">Unique link sharing </h4>
          <p style="font-family: 'Quicksand'; color: #4B2142; font-size: 20px;" class="card-text">Hassle free
            connections by sharing unique links. </p>

        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-2">
      <div class="card h-100">
        <div class="card-body">
          <h4 style="font-family: 'Quicksand'; color: #74226c; " class="card-title"> Easy file access remotely</h4>
          <p style="font-family: 'Quicksand'; color: #4B2142; font-size: 20px;" class="card-text">Team can browse, edit
            files, download from the code- space </p>

        </div>
      </div>
    </div>
    </div>


    <div class="section-full bg-white content-inner-1 my-5 py-5" style="background: #292929;">
                <div class="container">
                    <div class="overview-box style1">
                        <!-- <div class="overview-media wow fadeInLeft img-move2" data-wow-delay="0.3s">
                        <img src="{% static 'images/illustrator/skeleton.svg' %}" alt="">
                    </div> -->
                        <div class="w-100">
                            <h2 class="title text-center mb-5 pb-5" style="color:#4B2142">Frequently Asked
                                Questions</h2>
                            <div class="accordion mb-2">
                                <div class="row">
                                    {% for f in faq %}
                                        <div class="col-lg-6">
                                            <div class="card "
                                                 style="border:none; border-bottom: 1px solid #4B2142;background: #fff;">
                                                <div class="card-header faq-header collapsed" data-toggle="collapse"
                                                     data-target="#collapseFAQ{{ f.id }}" aria-expanded="false"
                                                     aria-controls="collapseFAQ{{ f.id }}">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <span class="text-primary">{{ f.question }}</span>
                                                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <div id="collapseFAQ{{ f.id }}" class="collapse">
                                                    <div class="card-body" style="color:#4B2142">
                                                        {{ f.answer }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock content %}
</div>