
    <!DOCTYPE html>
    <html>
      <head>
        <script src='https://8x8.vc/external_api.js' async></script>
        <style>html, body, #jaas-container { height: 100%; }</style>
        <script type="text/javascript">
          window.onload = () => {
            const api = new JitsiMeetExternalAPI("8x8.vc", {
              roomName: "vpaas-magic-cookie-3d0475b359684cfe87e5bb7b9355aba1/{{ join_url }}",
              parentNode: document.querySelector('#jaas-container')
            });
		api.on('readyToClose', () => {
     console.log('Video Call ended');
	window.location.href = 'https://connabo.com/chat/';
});
          }
        </script>
      </head>
      <body><div id="jaas-container" /></body>
    </html>
  
