{% extends 'analytics/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
<a href="{% url 'analytics:third-level-category-create' %}" class="button is-primary" style="margin-left: auto;">
    +
</a>

<!--<a href="{% url 'analytics:post-create' %}" class="button is-solid accent-button" style="margin-left: auto;">Add Post</a>-->
{% endblock title %}

{% block data %}

<style>

hr{
  display: none;
}

    .settings-wrapper .settings-section .settings-panel .settings-form .field-group label {
        font-size: 0.8em;
    }

    .settings-wrapper .settings-section .settings-panel .settings-form .field-group {
        padding: 0.8em;
    }

    .table thead th {
        font-weight: 500;
        color: rgb(146, 146, 146);
        font-size: 0.9em;
    }
    .table thead td, .table thead th {
        border-width: 0 0 0.5px;
        padding-bottom: 15px;
    }
    .table td {
        padding-top: 15px;
    }

</style>

<center><h2 align="center" class="pb-2 mb-5" style="border-bottom: 0px solid #e7e7e7;">
   Category List
</h2></center>

<p align="center" class="my-3"><a href="{% url 'analytics:first-level-category-list' %}" class="button is-primary mb-3" style="width: 120px;">First Level</a> &nbsp;&nbsp;<a href="{% url 'analytics:second-level-category-list' %}" class="button is-warning" style="width: 120px;">Secound Level</a> &nbsp;&nbsp;<a href="{% url 'analytics:third-level-category-list' %}" class="button is-info" style="width: 120px;">Third Level</a> &nbsp;&nbsp;<a href="{% url 'analytics:fourth-level-category-list' %}" class="button is-danger" style="width: 120px;">Fourth Level</a></p>



    <div style="width: 100% !important;margin-top: 2em;border-top: 1px solid #e7e7e7;padding: 1em;" class="">

            <div class="table-container">
              <table class="table is-fullwidth">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>First Level</th>
                  <th>Secound Level</th>


                  <th class="has-text-centered">Update</th>
<!--                  <th class="has-text-centered">Detail</th>-->
                  <th class="has-text-centered">Delete</th>
                  <th></th>
                </tr>
                </thead>

                <tbody>
                {% for object in object_list %}
                <tr>
                  <!-- <td class="is-image-cell">
                    <div class="image">
                      <img src="https://avatars.dicebear.com/v2/initials/rebecca-bauch.svg" class="is-rounded">
                    </div>
                  </td> -->
                  <td data-label="category">{{object.name}}</td>
                  <td data-label="category">{{object.first_category.name}}</td>
                  <td data-label="category">{{object.second_category.name}}</td>


                  <td class="has-text-centered" data-label="Mobile">
                    <a href="{% url 'analytics:third-level-category-update' object.id %}" class="button is-warning" type="button">
                        <span class="icon"><i class="mdi mdi-pen"></i></span>
                    </a>
                  </td>

                  <td class="has-text-centered" data-label="Mobile">
                    <a href="{% url 'analytics:third-level-category-delete' object.id %}" class="button is-danger jb-modal" data-target="sample-modal" type="button">
                        <span class="icon"><i class="mdi mdi-trash-can"></i></span>
                      </a>
                  </td>


                </tr>
                {% endfor %}

                </tbody>
              </table>
            </div>

    </div>


{% endblock data %}