{% load static %}

                            <div id="all-users" class="content-section">
                                <!-- Friends about card -->
                                <div class="about-card">
                                    <!-- Header -->
                                    <div class="header">
                                        <div class="icon-title">
                                            <!-- <i class="mdi mdi-account-group"></i> -->
                                            <h3>All Users</h3>
                                        </div>
                                        {% comment %} <div class="actions">
                                            <div class="button-wrapper">
                                                <a class="button">Invitations</a>
                                                <div class="indicator">
                                                    <span>8</span>
                                                </div>
                                            </div>
                                            <!-- Dropdown -->
                                            <div class="dropdown is-spaced is-accent is-right dropdown-trigger">
                                                <div>
                                                    <div class="button">
                                                        <i data-feather="more-vertical"></i>
                                                    </div>
                                                </div>
                                                <div class="dropdown-menu" role="menu">
                                                    <div class="dropdown-content">
                                                        <a href="#" class="dropdown-item">
                                                            <div class="media">
                                                                <i data-feather="smile"></i>
                                                                <div class="media-content">
                                                                    <h3>Manage</h3>
                                                                    <small>Manage your friend list.</small>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <a class="dropdown-item">
                                                            <div class="media">
                                                                <i data-feather="search"></i>
                                                                <div class="media-content">
                                                                    <h3>Find friends</h3>
                                                                    <small>Search for new friends.</small>
                                                                </div>
                                                            </div>
                                                        </a>
                                                        <hr class="dropdown-divider">
                                                        <a href="#" class="dropdown-item">
                                                            <div class="media">
                                                                <i data-feather="eye"></i>
                                                                <div class="media-content">
                                                                    <h3>View all</h3>
                                                                    <small>View all friends.</small>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> {% endcomment %}
                                    </div>
                                    <div class="body">
                                        <div class="columns friends-columns is-multiline">

                                            {% for user in remaining_users %}
                                            <!-- Friend -->
                                            <div class="column is-6">
                                                <div class="friend-small-card">
                                                    <img src="{{ user.get_profile_img }}" data-demo-src="{{ user.get_profile_img }}" data-user-popover="9" alt="">
                                                    <div class="meta">
                                                        <span>{{ user.username }}</span>
                                                        <span>{{ user.get_full_name }}</span>
                                                    {#  Span contains friends count of that user  #}
                                                    </div>
                                                    <!-- Dropdown -->
                                                    <div class="dropdown is-spaced is-accent is-right dropdown-trigger">
                                                        <div>
                                                            <div class="button">
                                                                <i data-feather="more-vertical"></i>
                                                            </div>
                                                        </div>
                                                        <div class="dropdown-menu" role="menu">
                                                            <div class="dropdown-content">

                                                                <div onclick="this.querySelector(`button[type='submit']`).click()" class="dropdown-item">
                                                                    <div class="media">
                                                                        <i data-feather="send"></i>
                                                                        <div class="media-content">
                                                                        <form method="post" action="{% url 'user:send-request' %}">
                                                                            <input type="hidden" name="id" value="{{ user.id }}">
                                                                            {% csrf_token %}
                                                                            <h3><button style="border: none; background-color: transparent; outline: none; box-sizing: none; font-weight: 500; color: inherit; padding:0px" type="submit">Send Request</button></h3>
                                                                            <small>Send friend request</small>
                                                                        </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                {% if request.user == user %}
                                                                <a href="{% url 'user:profile' %}" class="dropdown-item">
                                                                {% else %}
                                                                <a href="{% url 'user:friend-profile' user.id %}" class="dropdown-item">
                                                                {% endif %}
                                                                    <div class="media">
                                                                        <i data-feather="message-square"></i>
                                                                        <div class="media-content">
                                                                            <h3>Message</h3>
                                                                            <small></small>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                                <hr class="dropdown-divider">
                                                                <a href="#" class="dropdown-item">
                                                                    <div class="media">
                                                                        <i data-feather="delete"></i>
                                                                        <div class="media-content">
                                                                            <h3>Delete</h3>
                                                                            <small>Remove from friend list.</small>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Friend -->
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>