{% extends "home/social_base.html" %}
{% load static %}
{% block content %}

<div class="login-wrapper">

    <!-- Main Wrapper -->
    <div class="login-wrapper columns is-gapless">
        <!--Left Side (Desktop Only)-->
        <div class="column is-6 is-hidden-mobile hero-banner">
            <div class="hero is-fullheight is-login">
                <div class="hero-body">
                    <div class="container">
                        <div class="left-caption">
                            <h2>Join an Exciting Social Experience.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Right Side-->
        <div class="column is-6">
            <div class="hero form-hero is-fullheight">
                <!--Logo-->
                <div class="logo-wrap">
                    <div class="wrap-inner">
                        <img src="{% static 'social_assets/img/logo/friendkit-white.svg' %}" alt="">
                    </div>
                </div>
                <!--Login Form-->
                <div class="hero-body">
                    <div class="form-wrapper" style="max-width: 400px; min-width: unset !important;">
                        <h2 class="has-text-centered" style="font-size:xx-large;font-weight: bolder;color: #3396d1;">Password Reset Completed!</h2>
                        <br>

                        <p>Your password has been set. You may go ahead and log in now.</p><br>
                        
                        <div class="mt-4 has-text-centered">
                            <a class="button is-solid primary-button is-halfwidth" href="{% url 'user:login' %}" style="font-size: 1rem;">
                                &#8592; Go to Login Page
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}