{% extends "home/social_base.html" %}
{% load static %}
{% block content %}

<div class="login-wrapper">

    <!-- Main Wrapper -->
    <div class="login-wrapper columns is-gapless">
        <!--Left Side (Desktop Only)-->
        <div class="column is-6 is-hidden-mobile hero-banner">
            <div class="hero is-fullheight is-login">
                <div class="hero-body">
                    <div class="container">
                        <div class="left-caption">
                            <h2>Join an Exciting Social Experience.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Right Side-->
        <div class="column is-6">
            <div class="hero form-hero is-fullheight">
                <!--Logo-->
                <div class="logo-wrap">
                    <div class="wrap-inner">
                        <img src="{% static 'images/logo/png.png' %}" style="width: 100px;" alt="">
                    </div>
                </div>
                <!--Login Form-->
                <div class="hero-body">
                    <div class="form-wrapper" style="max-width: 400px; min-width: unset !important;">
                        <center>
                            <h2 style="font-size:xx-large;font-weight: 600;   color: #3396d1;">Reset Password</h2>
                        </center><br>

                        <p>Enter your email address below, and we'll email instructions for
                            setting a new one.</p><br>


                        <form class="login-form" method="POST">
                            {% csrf_token %}
                            <div class="field">
                                <div class="control">

                                    <input class="input email-input" type="email" name="email"
                                        placeholder="jennadavis@gmail.com" required><br>
                                    <div class="input-icon">
                                        <i data-feather="user"></i>
                                    </div>
                                </div>
                            </div><br>

                            <div class="field">
                                <div class="control">
                                    <button class="button is-solid primary-button raised is-rounded is-fullwidth"
                                        type="submit">Verify</button>
                                </div>
                            </div>
                        </form>
                        <div class="section forgot-password">
                            <div class="has-text-centered">
                                Already have an account? <a href="{%url 'user:login' %}">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}