{% extends "home/social_base.html" %}
{% load static %}
{% block content %}


    <div class="view-wrapper">

        <!-- Container -->
        <div class="container is-custom">

            <!-- Profile page main wrapper -->
            <div id="profile-about" class="view-wrap is-headless">
                <div class="columns is-multiline no-margin">
                    <!-- Left side column -->
                    <div class="column is-paddingless">
                        <!-- Timeline Header -->
                        <div class="cover-bg" style="margin-top: 7em;">
<!--                            <br><br><br><br><br><br>-->
<!--                             <img class="cover-image" src="https://via.placeholder.com/1600x460" data-demo-src="https://friendkit.cssninja.io/assets/img/demo/bg/4.png" alt="">-->
                            <div class="avatar">
                                <img id="user-avatar" class="avatar-image" src="{{ profile_user.profile_image.url }}" data-demo-src="{{ profile_user.profile_image.url }}" alt="">
                                {% if request.user == profile_user %}
                                <div class="avatar-button">
                                    <i data-feather="plus"></i>
                                </div>
                                {% endif %}
                                <div class="pop-button is-left has-tooltip modal-trigger" data-modal="change-profile-pic-modal" data-placement="right" data-title="Change profile picture">
                                    <a class="inner">
                                        <i data-feather="camera"></i>
                                    </a>
                                </div>
<!--                                <div id="follow-pop" class="pop-button pop-shift is-left has-tooltip" data-placement="top" data-title="Subscription">-->
<!--                                    <a class="inner">-->
<!--                                        <i class="inactive-icon" data-feather="bell"></i>-->
<!--                                        <i class="active-icon" data-feather="bell-off"></i>-->
<!--                                    </a>-->
<!--                                </div>-->
                                <!-- <div id="invite-pop" class="pop-button pop-shift is-left has-tooltip" data-placement="top" data-title="Relationship">
                                    <a href="#" class="inner">
                                        <i class="inactive-icon" data-feather="plus"></i>
                                        <i class="active-icon" data-feather="minus"></i>
                                    </a>
                                </div> -->
                                <div id="chat-pop" class="pop-button is-center has-tooltip" data-placement="right" data-title="Chat">
                                    <a href="{% url 'chat:chat' %}" class="inner">
                                        <i data-feather="message-circle"></i>
                                    </a>
                                </div>
                                <div class="pop-button is-right has-tooltip" data-placement="right" data-title="Send email">
                                    <a href="mailto:{{profile_user.email}}" class="inner">
                                        <i data-feather="mail"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="cover-overlay"></div>
                            <!-- <div class="cover-edit modal-trigger" data-modal="change-cover-modal">
                                <i class="mdi mdi-camera"></i>
                                <span>Edit cover image</span>
                            </div> -->
                            <!--/html/partials/pages/profile/timeline/dropdowns/timeline-mobile-dropdown.html-->
                            <!-- <div class="dropdown is-spaced is-right is-accent dropdown-trigger timeline-mobile-dropdown is-hidden-desktop">
                                <div>
                                    <div class="button">
                                        <i data-feather="more-vertical"></i>
                                    </div>
                                </div>
                                <div class="dropdown-menu" role="menu">
                                    <div class="dropdown-content">
                                        <a href="profile-main.html" class="dropdown-item">
                                            <div class="media">
                                                <i data-feather="activity"></i>
                                                <div class="media-content">
                                                    <h3>Timeline</h3>
                                                    <small>Open Timeline.</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="profile-about.html" class="dropdown-item">
                                            <div class="media">
                                                <i data-feather="align-right"></i>
                                                <div class="media-content">
                                                    <h3>About</h3>
                                                    <small>See about info.</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="profile-friends.html" class="dropdown-item">
                                            <div class="media">
                                                <i data-feather="heart"></i>
                                                <div class="media-content">
                                                    <h3>Friends</h3>
                                                    <small>See friends.</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="profile-photos.html" class="dropdown-item">
                                            <div class="media">
                                                <i data-feather="image"></i>
                                                <div class="media-content">
                                                    <h3>Photos</h3>
                                                    <small>See all photos.</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div> -->
                        </div>

                        <div class="profile-menu is-hidden-mobile">
<!--                            <div class="menu-start">-->
<!--                                <a href="profile-main.html" class="button has-min-width">{{form.designation.value}}</a>-->
<!--                                <a href="profile-about.html" class="button has-min-width">About</a>-->
<!--                            </div>-->
<!--                            <div class="menu-end">-->
<!--                                <a id="profile-friends-link" href="profile-friends.html" class="button has-min-width">Friends</a>-->
<!--                                <a href="profile-photos.html" class="button has-min-width">Photos</a>-->
<!--                            </div>-->
                        </div>

                        <div class="profile-subheader">
                            <div class="subheader-start is-hidden-mobile">
<!--                                <span>{{connected_users.count}}</span>-->
<!--                                <span>Friends</span>-->
                                <a class="button is-solid has-icon is-bold" style="font-size: 14px;">
                                    <i class="mdi mdi-account-group"></i>
                                     &nbsp;&nbsp;&nbsp;{{connected_users.count}} Friends
                                </a>
                            </div>
                            <div class="subheader-middle" style="margin-top: 3em;">
                                <h2>{{profile_user.get_full_name}}</h2>
                                <span>{{profile_user.username}}</span>
                            </div>
                            <div class="subheader-end is-hidden-mobile" style="display: flex; justify-content: end;">
                                {% if profile_user not in request.user.get_user_connected_users and profile_user != request.user %}

                                    <a href="{% url 'user:send-user-request' profile_user.id %}" type="submit" class="button has-icon is-bold menu-item" style="min-width: 130px;background: #5596e6;color: #fff;" data-content="education-content">
                                        <i class="mdi mdi-send"></i>
                                        &nbsp;&nbsp;&nbsp;Send Request
                                    </a>

                                {% elif profile_user == request.user %}
                                <!-- If profile_user is request.user -->
                                {% else %}
                                 <a href="{% url 'chat:chat' %}" class="button has-icon is-bold menu-item" style="min-width: 130px;background: #5596e6;color: #fff;" data-content="education-content">
                                    <i class="mdi mdi-message"></i>
                                      &nbsp;&nbsp;&nbsp;Send Message
                                </a>
                                {% endif %}
                                {% if form.designation.value %}
                                <a class="button has-icon is-bold menu-item" style="min-width: 130px; margin-left: 20px;font-size: 14px;" data-content="education-content">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase"><rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect><path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path></svg>
                                      &nbsp;&nbsp;&nbsp;{{form.designation.value}}
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>

                <div class="column">

                    <!-- About sections -->
                    <div class="profile-about side-menu">
                        <div class="left-menu">
                            <div class="left-menu-inner" style="overflow-x: auto;">
                                <div class="menu-item is-active" data-content="overview-content">
                                    <div class="menu-icon">
                                        <i class="mdi mdi-progress-check"></i>
                                        <span>Posts</span>
                                    </div>
                                </div>


                                <div class="menu-item" data-content="personal-content">
                                    <div class="menu-icon">
                                        <i class="mdi mdi-account-group"></i>
                                        <span>Friends</span>
                                    </div>
                                </div>

<!--                                <div class="menu-item" data-content="personal-content-list">-->
<!--                                    <div class="menu-icon">-->
<!--                                        <i class="mdi mdi-account-box-multiple"></i>-->
<!--                                        <span>Request Friends List</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="menu-item" data-content="all-users">-->
<!--                                    <div class="menu-icon">-->
<!--                                        <i class="mdi mdi-account-group"></i>-->
<!--                                        <span>All users</span>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="menu-item" data-content="education-content">
                                    <div class="menu-icon">
                                        <i class="mdi mdi-school"></i>
                                        <span>Personal Info</span>
                                    </div>
                                </div>
                                {% if not user_friend %}
                                <div class="menu-item" data-content="job-content">
                                    <div class="menu-icon">
                                        <i class="mdi mdi-bookmark"></i>
                                        <span>Bookmark</span>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="right-content">
                            {% include 'users/user_posts.html' %}
                            {% include 'users/user_friends.html' %}
                            {% include 'users/user_requested.html' %}
                            {% include 'users/all_users.html' %}
                            {% if not user_friend %}
                            {% include 'users/user_bookmarks.html' %}
                            {% endif %}
                            {% include 'users/user_personal_info.html' %}
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <!-- Change cover image modal -->
        <!--html/partials/pages/profile/timeline/modals/change-cover-modal.html-->
        <div id="change-cover-modal" class="modal change-cover-modal is-medium has-light-bg">
            <div class="modal-background"></div>
            <div class="modal-content">

                <div class="card">
                    <div class="card-heading">
                        <h3>Update Cover</h3>
                        <!-- Close X button -->
                        <div class="close-wrap">
                            <span class="close-modal">
                                    <i data-feather="x"></i>
                                </span>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Placeholder -->
                        <div class="selection-placeholder">
                            <div class="columns">
                                <div class="column is-6">
                                    <!-- Selection box -->
                                    <div class="selection-box modal-trigger" data-modal="upload-crop-cover-modal">
                                        <div class="box-content">
                                            <img src="{% static 'social_assets/img/illustrations/profile/upload-cover.svg' %}" alt="">
                                            <div class="box-text">
                                                <span>Upload</span>
                                                <span>From your computer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="column is-6">
                                    <!-- Selection box -->
                                    <div class="selection-box modal-trigger" data-modal="user-photos-modal">
                                        <div class="box-content">
                                            <img src="{% static 'social_assets/img/illustrations/profile/change-cover.svg' %}" alt="">
                                            <div class="box-text">
                                                <span>Choose</span>
                                                <span>From your photos</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Change profile pic modal -->
        <!--html/partials/pages/profile/timeline/modals/change-profile-pic-modal.html-->
        <div id="change-profile-pic-modal" class="modal change-profile-pic-modal is-medium has-light-bg">
            <div class="modal-background"></div>
            <div class="modal-content">

                <div class="card">
                    <div class="card-heading">
                        <h3>Update Profile Picture</h3>
                        <!-- Close X button -->
                        <div class="close-wrap">
                            <span class="close-modal">
                                    <i data-feather="x"></i>
                                </span>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Placeholder -->
                        <div class="selection-placeholder">
                            <div class="columns">
                                <div class="column is-12">
                                    <!-- Selection box -->
                                    <div class="selection-box modal-trigger" data-modal="upload-crop-profile-modal">
                                        <div class="box-content">
                                            <img src="{% static 'social_assets/img/illustrations/profile/change-profile.svg' %}" alt="">
                                            <div class="box-text">
                                                <span>Upload</span>
                                                <span>From your computer</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
<!--                                <div class="column is-6">-->
<!--                                    &lt;!&ndash; Selection box &ndash;&gt;-->
<!--                                    <div class="selection-box modal-trigger" data-modal="user-photos-modal">-->
<!--                                        <div class="box-content">-->
<!--                                            <img src="{% static 'social_assets/img/illustrations/profile/upload-profile.svg' %}" alt="">-->
<!--                                            <div class="box-text">-->
<!--                                                <span>Choose</span>-->
<!--                                                <span>From your photos</span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

<script>
    $(document).ready(function(){
        morePost();
        moreFriends();
        moreBookmarkPost();
    });
</script>

<script>
    function like(id) {
        var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val();
        $.ajax({
            async: true,
            method: "POST",
            url: "{% url 'post:like' %}",
            data: {
                csrfmiddlewaretoken: csrfmiddlewaretoken,
                'id': id,
            },
            success: function (response) {
                $('.likes-display' + id).html(response['likes']);
            },
            error: function (response) {
                console.log(response);
            },
        });
    }

    // Shows image preview after uploading.
    let oldImage = null;
    previewEl = document.getElementById('update-preview-image');
    document.getElementById('upload-profile-picture').addEventListener('change', function(e){
        const file = e.target.files[0];
        if (oldImage !== null) {
            URL.revokeObjectURL(oldImage)
            previewEl.style.display = 'none';
        }
        if (file){
            oldImage = URL.createObjectURL(file)
            previewEl.src = oldImage;
            previewEl.style.display = 'inline-block';
        }

    });
</script>

{% endblock %}