{% load static %}

                            <div id="personal-content" class="content-section">
                                <!-- Friends about card -->
                                <div class="about-card">
                                    <!-- Header -->
                                    <div class="header">
                                        <div class="icon-title">
                                            <!-- <i class="mdi mdi-account-group"></i> -->
                                            <h3>Friends</h3>
                                        </div>
                                        <div class="actions">
<!--                                            <div class="button-wrapper">-->
<!--                                                <a class="button">Invitations</a>-->
<!--                                                <div class="indicator">-->
<!--                                                    <span>8</span>-->
<!--                                                </div>-->
<!--                                            </div>-->
                                            <!-- Dropdown -->
<!--                                            <div class="dropdown is-spaced is-accent is-right dropdown-trigger">-->
<!--                                                <div>-->
<!--                                                    <div class="button">-->
<!--                                                        <i data-feather="more-vertical"></i>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="dropdown-menu" role="menu">-->
<!--                                                    <div class="dropdown-content">-->
<!--                                                        <a href="#" class="dropdown-item">-->
<!--                                                            <div class="media">-->
<!--                                                                <i data-feather="smile"></i>-->
<!--                                                                <div class="media-content">-->
<!--                                                                    <h3>Manage</h3>-->
<!--                                                                    <small>Manage your friend list.</small>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                        </a>-->
<!--                                                        <a class="dropdown-item">-->
<!--                                                            <div class="media">-->
<!--                                                                <i data-feather="search"></i>-->
<!--                                                                <div class="media-content">-->
<!--                                                                    <h3>Find friends</h3>-->
<!--                                                                    <small>Search for new friends.</small>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                        </a>-->
<!--                                                        <hr class="dropdown-divider">-->
<!--                                                        <a href="#" class="dropdown-item">-->
<!--                                                            <div class="media">-->
<!--                                                                <i data-feather="eye"></i>-->
<!--                                                                <div class="media-content">-->
<!--                                                                    <h3>View all</h3>-->
<!--                                                                    <small>View all friends.</small>-->
<!--                                                                </div>-->
<!--                                                            </div>-->
<!--                                                        </a>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="body">
                                        <div class="columns friends-columns is-multiline" id="received-users">

                                            {% for user in received_users %}
                                            <!-- Friend -->
                                            <div class="column is-6"
                                                id="received_user_{{user.connection_user.id}}"
                                                data-id="{{ user.connection_user.id }}" 
                                                data-username="{{ user.connection_user.username }}" 
                                                data-full_name="{{ user.connection_user.get_full_name }}" 
                                                data-profile_link="{% url 'user:friend-profile' user.connection_user.id %}"
                                                data-profile_image_url="{{ user.connection_user.get_profile_img }}" 
                                                data-pk="{{user.connection_user.id}}"
                                                >
                                                <div class="friend-small-card">
                                                    <img src="{{ user.connection_user.get_profile_img }}" data-demo-src="{{ user.connection_user.get_profile_img }}" data-user-popover="9" alt="">
                                                    <div class="meta">
                                                        <span>{{ user.connection_user.username }}</span>
                                                        <span>{{ user.connection_user.get_full_name }}</span>
                                                    {#  Span contains friends count of that user  #}
                                                    </div>
                                                    <!-- Dropdown -->
                                                    <div class="btn" onclick="this.querySelector(`button[type='submit']`).click()" style="display:inline-flex; margin-left: auto; border:none; cursor: pointer;" title="Accept request">
                                                        <div style="display:flex; align-items: center; justify-content: center;color: #5596E6;">
                                                            <i data-feather="check-circle" style="color:inherit"></i>
                                                            <span class="ml-2">Accept</span>
                                                        </div>
                                                        <form method="post" 
                                                              onsubmit="acceptFriendsSectionUpdate(event, this, '{{user.connection_user.id}}')">
                                                            <input type="hidden" name="id" value="{{ user.connection_user.id }}">
                                                            {% csrf_token %}
                                                            <button style="display: none;" type="submit">Accept Request</button>
                                                        </form>
                                                    </div>
                                                    <!-- <div class="dropdown is-spaced is-accent is-right dropdown-trigger">
                                                        <div>
                                                            <div class="button">
                                                                <i data-feather="more-vertical"></i>
                                                            </div>
                                                        </div>
                                                        <div class="dropdown-menu" role="menu">
                                                            <div class="dropdown-content">
                                                                <div onclick="this.querySelector(`button[type='submit']`).click()" class="dropdown-item w-100" style="cursor: pointer !important;">
                                                                    <div class="media">
                                                                        <i data-feather="check-circle"></i>
                                                                        <div class="media-content">
                                                                            <form method="post" onsubmit="acceptFriendRequest(event, reload=true)" action="">
                                                                            <input type="hidden" name="id" value="{{ user.connection_user.id }}">
                                                                            {% csrf_token %}
                                                                            <h3><button style="cursor: pointer; border: none; background-color: transparent; outline: none; box-sizing: none; font-weight: 500; color: inherit; padding:0px" type="submit">Accept Request</button></h3>
                                                                            <small>Accept friend request</small>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                {% if request.user == connection_user.user %}
                                                                <a href="{% url 'user:profile' %}" class="dropdown-item">
                                                                {% else %}
                                                                <a href="{% url 'user:friend-profile' user.connection_user.id %}" class="dropdown-item">
                                                                {% endif %}
                                                                    <div class="media">
                                                                        <i data-feather="user"></i>
                                                                        <div class="media-content">
                                                                            <h3>View Profile</h3>
                                                                            <small>Open this user profile.</small>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div> -->
                                                </div>
                                            </div>
                                            <!-- Friend -->
                                            {% endfor %}

                                        </div>{% if received_users %}<hr>{% endif %}
                                        <div class="columns friends-columns is-multiline" id="connected-users">
                                            <!-- Connected users are shown here dynamically -->
                                            <!-- Placeholder Image -->
                                            <div class="page-placeholder page-placeholder-friends" id="page-placeholder-friends">
                                                <div class="placeholder-content">
                                                    <img class="light-image" src="{% static 'social_assets/img/illustrations/placeholders/2.svg' %}" alt="" />
                                                    <img class="dark-image" src="{% static 'social_assets/img/illustrations/placeholders/2-dark.svg' %}" alt="" />
                                                    <h3>You don't have any friends yet.</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                 <!-- Load more posts -->
                                <div id="load-more-btn-friend" class="load-more-btn-friend load-more-wrap narrow-top has-text-centered">
                                    <a onclick="moreFriends()" id="load-more" class="load-more-button">Load More</a>
                                </div>
                                <div id="no-friend-tag" class=" load-more-wrap narrow-top has-text-centered" style="display: none;">
                                    <p>No more Friends!...</p>
                                </div>
                            </div>

<!-- For Cloning Elements with listeners -->
<div class="column is-6" id="template-connected-user" data-del="true" style="display: none;">
    <div class="friend-small-card">
        <img src="" data-demo-src="" data-template-profile_image_link="true">
        <div class="meta">
            <span data-template-full_name='true'></span>
            <span data-template-username='true'></span>
        </div>
        <!-- Dropdown -->
        <div class="dropdown is-spaced is-accent is-right dropdown-trigger">
            <div>
                <div class="button">
                    <i data-feather="more-vertical"></i>
                </div>
            </div>
            <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <a href="" class="dropdown-item" data-template-profile_link="true">
                        <div class="media">
                            <i data-feather="user"></i>
                            <div class="media-content">
                                <h3>View Profile</h3>
                                <small>Open this user profile.</small>
                            </div>
                        </div>
                    </a>
                    {% if not user_friend %}
                    <a class="dropdown-item" href="{% url 'chat:chat' %}">
                        <div class="media">
                            <i data-feather="message-square"></i>
                            <div class="media-content">
                                <h3>Message</h3>
                                <small>Send a message to this user.</small>
                            </div>
                        </div>
                    </a>

                    <hr class="dropdown-divider">
                    <div onclick="this.querySelector(`button[type='submit']`).click()"  class="dropdown-item w-100" style="cursor: pointer !important;">
                        <div class="media">
                            <i data-feather="delete"></i>
                            <div class="media-content">
                                <form method="" onsubmit="unfriendUser(event, false, false, false); this.closest(`div[data-del='true']`).remove()" action="">
                                    <input type="hidden" name="pk" value="" data-template-pk="true">
                                    {% csrf_token %}
                                    <h3><button style="cursor: pointer; border: none; background-color: transparent; outline: none; box-sizing: none; font-weight: 500; color: inherit; padding:0px" type="submit">Unfriend</button></h3>
                                    <small>Remove from friend list.</small>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // function createFriend(friends)
    // {
    //     friends.forEach(user => {
    //     let url = window.location.host + '/user/friend/profile/' + user.user_id;
    //     let chat = window.location.host + '/chat/';
    //     let user_id = "{{ profile_user.id }}";
    //     let current_user = "{{ request.user.id }}";
    //        let html = `<div class="column is-6" id='friend'>
    //                                             <div class="friend-small-card">
    //                                                 <img src="${user.profile}" data-demo-src="${user.profile}" data-user-popover="9" alt="">
    //                                                 <div class="meta">
    //                                                     <a href="/user/profile/${user.user_id}"><span>${user.name}</span></a>
    //                                                     <span>${user.username}</span>
    //                                                 {#  Span contains friends count of that user  #}
    //                                                 </div>
    //                                                 <!-- Dropdown -->
    //                                                 <div id="options-friend-${user.user_id}" onclick="postFriendOptions(${user.user_id})"
    //                                                     class="dropdown is-spaced is-right is-neutral dropdown-trigger">
    //                                                 </div>
    //                                             </div>
    //                                         </div>`;

    //        $('#connected-users').append(html);
    //        if(user_id === current_user)
    //        {
    //            html = `<div>
    //                                                         <div class="button">
    //                                                             <i class="mdi mdi-dots-vertical" style="font-size: 20px;"></i>
    //                                                         </div>
    //                                                     </div>
    //                                                     <div class="dropdown-menu" role="menu">
    //                                                         <div class="dropdown-content">
    //                                                             <a href="${url}" class="dropdown-item">
    //                                                                 <div class="media">
    //                                                                     <i class="mdi mdi-account-outline" style="font-size: 20px;width: 35px;"></i>
    //                                                                     <div class="media-content">
    //                                                                         <h3>View Profile</h3>
    //                                                                         <small>Open this user profile.</small>
    //                                                                     </div>
    //                                                                 </div>
    //                                                             </a>
    //                                                             <a class="dropdown-item" href="${chat}">
    //                                                                 <div class="media">
    //                                                                     <i class="mdi mdi-message-text-outline" style="font-size: 20px;width: 35px;"></i>
    //                                                                     <div class="media-content">
    //                                                                         <h3>Message</h3>
    //                                                                         <small>Send a message to this user.</small>
    //                                                                     </div>
    //                                                                 </div>
    //                                                             </a>
    //                                                             <hr class="dropdown-divider">
    //                                                             <a href="/user/unfriend/user/${user.user_id}/" class="dropdown-item">
    //                                                                 <div class="media">
    //                                                                     <i class="mdi mdi-trash-can" style="font-size: 20px;width: 35px;"></i>
    //                                                                     <div class="media-content">
    //                                                                         <h3>Unfriend</h3>
    //                                                                         <small>Remove from friend list.</small>
    //                                                                     </div>
    //                                                                 </div>
    //                                                             </a>
    //                                                         </div>
    //                                                     </div>`;

    //            $(`#options-friend-${user.user_id}`).append(html);
    //        }

    //     });
    // }

    // function postFriendOptions(id) {
    //     $("#options-friend-" + id).addClass('is-active');
    // }

    function moreFriends()
    {
        console.log("More function called");
        currentPosts = document.querySelectorAll('#connected-users .friend-small-card').length;
        $.ajax({
            async: true,
            method: "GET",
            url: "{% url 'user:load-more-friends' %}",
            data: {
                'profile_user_id': "{{ profile_user.id }}",
                'current_friends': currentPosts,
            },
            success: function (response) {
                    if (response.Status == false) {
                        if(currentPosts === 0)
                        {
                            $('#load-more-btn-friend').css('display', 'none');
                            $(".page-placeholder-friends").show();
                        }
                        else{
                            $('#load-more-btn-friend').css('display', 'none');
                            $('#no-friend-tag').css('display', 'block');
                            $(".page-placeholder-friends").hide();
                        }
                    } else {
                        $('.page-placeholder-friends').hide();
                        response.friends?.forEach((friend)=>{
                            console.log(friend)
                            const infoObj = {
                                'id': `received_user_${friend.user_id}`,
                                'username': friend.username,
                                'full_name': friend.name,
                                'profile_link': friend.profile_link,
                                'profile_image_link': friend.profile_image_url,
                                'pk': friend.user_id,
                            }
                            addFriendToSection(infoObj)
                        })
                    }
            },
            error: function (response) {
                console.log(response);
            },
        });
    }
    setTimeout(() => {
        moreFriends()
    }, 1000);
</script>
